<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.ingredient.repository.IngredientMapper">

    <select id="selectIngredientSeq" resultType="String">
        SELECT I.INGREDIENT_SEQ
          FROM TINGREDIENTHIS I
         WHERE I.INGREDIENT_NO = #{ingredientNo}
           AND I.STORE_NO = #{storeNo}
         ORDER BY I.INGREDIENT_SEQ DESC
         LIMIT 1
    </select>

    <insert id="insertIngredientHis">
        INSERT
          INTO TINGREDIENTHIS
        (
          INGREDIENT_NO
        , INGREDIENT_SEQ
        , STORE_NO
        , IN_DE_QUANTITY
        , IN_DE_REASON_NO
        , EXPIRATION_DATE
        , INSERT_ID
        , INSERT_DATE
        , MODIFY_ID
        , MODIFY_DATE
        )
        VALUES
        (
          #{ingredientNo}
        , #{ingredientSeq}
        , #{storeNo}
        , #{inDeQuantity}
        , #{inDeReasonNo}
        , #{expirationDate}
        , #{insertId}
        , NOW()
        , #{modifyId}
        , NOW()
        )
    </insert>

    <update id="updateIngredient">
        UPDATE TINGREDIENT I
           SET I.QUANTITY = #{quantity}
             , I.MODIFY_ID = #{modifyId}
             , I.MODIFY_DATE = NOW()
         WHERE I.STORE_NO = #{storeNo}
           AND I.INGREDIENT_NO = #{ingredientNo}
    </update>

    <select id="selectMenuIngredientList" resultType="com.hsj.force.domain.dto.MenuIngredientDTO">
        SELECT MI.MENU_NO
             , MI.INGREDIENT_NO
             , O.QUANTITY AS MENU_QUANTITY
             , I.QUANTITY AS INGREDIENT_QUANTITY
             , MI.QUANTITY AS NEED_QUANTITY
          FROM TORDER O
             , TMENUINGREDIENT MI
             , TINGREDIENT I
         WHERE O.MENU_NO = MI.MENU_NO
           AND MI.INGREDIENT_NO = I.INGREDIENT_NO
           AND O.ORDER_NO = #{orderNo}
           AND O.STORE_NO = #{storeNo}
           AND O.MENU_NO = #{menuNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </select>

</mapper>