html {
    height: 100%;
}

body {
    height: 100%;
    overflow:hidden;
    background-color: #ABA8A8;
}

section {
    height: 100%;
}

.form {
    height: 100%;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top:0.5%;
}

.left-main {
    width: 50%;
}

.right-main {
    width: 50%;
    border: 1px solid black;
    background-color: #A3B1E7;
}

.top-left-main {
    position:relative;
    height: 50%;
    background-color: white;
}

.bottom-left-main {
    height: 50%;
    background-color: #A3B1E7;
}

.table-top {
    display: flex;
    width: 100%;
    background-color: #757575;
}

.table-content-1 {
    text-align: center;
    width: 10%;
    border: 1px solid black;
    pointer-events : none;
}

.table-content-2 {
    text-align: center;
    width: 30%;
    border: 1px solid black;
    pointer-events : none;
}

.table-content-3 {
    text-align: center;
    width: 11.8%;
    border: 1px solid black;
    pointer-events : none;
}

.table-content-name {
    color: #F0EB66;
}

.table-middle {
    background-color: white;
}

.table-middle-wrap {
    display: flex;
}

.table-bottom {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #757575;
}

.table-content-4 {
    text-align: center;
    width: 51.9%;
    border: 1px solid black;
}

.table-content-5 {
    text-align: center;
    width: 23.7%;
    border: 1px solid black;
}

.top-line {
    display: flex;
    width: 100%;
    height: 20%;
}

.button-wrap {
    width: 11%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}

.top-line-button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    border:none;
    font-weight: bold;
    font-size: 100%;
    cursor:pointer;
}

.top-line-button-2 {
    width: 120%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    border:none;
    font-weight: bold;
    font-size: 100%;
    cursor:pointer;
}

.input-wrap {
    margin-left: 4%;
    margin-top: 1.5%;
    width:30%;
}

.top-line-input {
    width: 50%;
    height: 90%;
    border-radius: 5px;
    font-size:150%;
}

.bottom-line {
    display: flex;
    height: 50%;
    margin-top: 1.5%;
    margin-left:  1.5%;
}

.price {
    padding-top: 1%;
    padding-left: 1%;
    background-color: #464A6B;
    width: 47.5%;
    border-radius: 5px;
}

.price-title {
    margin-left: 3%;
    font-size: 120%;
    color: white;
}

.price-value {
    float: right;
    margin-right: 3%;
    font-size: 120%;
    color: white;
}

.span-wrap {
    margin-top: 5%;
}

.line {
    margin-top: 2%;
    margin-left: 3%;
    width: 95%;
    height: 1px;
    background-color: #A7A7A7;
}

.line-2 {
    margin-top: 2%;
    margin-left: 6%;
    width: 85%;
    height: 1px;
    background-color: #A7A7A7;
}

.line-3 {
    margin-top: 3%;
    width: 100%;
    height: 1px;
    background-color: grey;
}

.discount {
    margin-left: 2%;
    background-color: #464A6B;
    width: 47.5%;
    border-radius: 5px;
    display: block;
}

.discount-title {
    margin-left: 5%;
    margin-top: 3%;
    font-size: 100%;
    color: white;
}

.discount-button {
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
}

.discount-top-left-title {
    display: flex;
    justify-content: center;
    width: 45%;
    background-color: #5C5E8A;
    border: 1px solid black;
    cursor:pointer;
}

.discount-top-left-title-1 {
    font-size: 150%;
    color: #D4AA6C;
}

.discount-top-left-title-2 {
    margin-left: 5%;
    margin-top: 3%;
    color: #D4AA6C;
}

.discount-top-left-title-3 {
    font-size: 150%;
    color: white;
}

.discount-top-left-title-4 {
    margin-left: 5%;
    margin-top: 3%;
    color: white;
}

.discount-top-left-title-5 {
    margin-left: 7%;
    margin-top: 3%;
    color: #D4AA6C;
}

.discount-top-left-title-6 {
    margin-left: 7%;
    margin-top: 3%;
    color: white;
}

.discount-top-left-title-7 {
    margin-top: 3%;
    color: #D4AA6C;
    padding-bottom: 3%;
}

.discount-top-left-title-8 {
    margin-top: 3%;
    color: white;
    padding-bottom: 3%;
}

.category {
    display: flex;
    width: 100%;
    height: 10%;
}

.category-content {
    margin-left: 4%;
    margin-top: 2%;
    width: 12%;
    height: 75%;
    background-color: #464A6B;
    border-radius: 5px;
    cursor:pointer;
}

.category-content-write {
    text-align: center;
    padding-top: 15%;
    color:white;
}

.menu {
    display: flex;
    width: 100%;
    height: 10%;
}

.menu-content {
    margin-left: 4%;
    margin-top: 2%;
    width: 12%;
    border-radius: 5px;
    cursor:pointer;
    background-color: white;
}

.menu-content-write {
    text-align: center;
    padding-top: 5%;
    font-size: 70%;
    pointer-events : none;
}

.menu-name {
    pointer-events : none;
}

.menu-price {
    pointer-events : none;
}

.right-button {
    display: flex;
    width: 100%;
    height: 10%;
}

.right-button-detail {
    margin-left: 4%;
    margin-top: 2%;
    width: 12%;
    height: 75%;
    border-radius: 5px;
    cursor:pointer;
    background-color: #757575;
}

.button-content-write {
    text-align: center;
    padding-top: 20%;
    color: white;
    font-weight: bold;
}

.button-content-write-1 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: #757575;
    color: white;
    font-size:100%;
    font-weight: bold;
    cursor:pointer;
}

.menu-color {
    background-color: #8AD2F9;
}

.order-color {
    background-color: #8AD2F9;
}