<!DOCTYPE html>
<html th:replace="fragment/orderBody :: orderLayout(~{::link}, ~{::script}, ~{::section})"
xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order/order.css}">
    <script th:inline="javascript">

        function selectMenuListByCategoryNo(div) {

            const categoryNo = div.children[0].value;

            $.ajax({
                url: "/menu/" + categoryNo + "/list",
                type: "get",
                success: function(data) {
                    selectMenuList(data);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

        }

        function selectMenuListByFirstCategoryNo() {

            $.ajax({
                url: "/menu/first-category/list",
                type: "get",
                success: function(data) {
                    selectMenuList(data);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

        }

        $(function() {
            const nonClickMenu = document.querySelectorAll(".menu-content-button");
            const nonClickOrder = document.querySelectorAll(".table-middle-wrap");
            const inputValue = document.querySelector('.top-line-input');

            function handleMenuClick(event) {
                nonClickMenu.forEach((e) => {
                    e.classList.remove("menu-color");
                });
                event.target.classList.add("menu-color");
            }

            function handleMenuOrder(event) {
                nonClickOrder.forEach((e) => {
                    e.classList.remove("order-color");
                });
                event.target.classList.add("order-color");
            }

            nonClickMenu.forEach((e) => {
                e.addEventListener("click", handleMenuClick);
            });

            nonClickOrder.forEach((e) => {
                e.addEventListener("click", handleMenuOrder);
            });

            inputValue.addEventListener('keyup', function(e) {
                let value = e.target.value;
                value = Number(value.replaceAll(',', ''));
                if(isNaN(value)) {         //NaN인지 판별
                    inputValue.value = 0;
                }else {                   //NaN이 아닌 경우
                    const formatValue = value.toLocaleString('ko-KR');
                    inputValue.value = formatValue;
                }
            })
        })

        function saveOrder() {

            const menuNo = $(".menu-color").parent().children().eq(0).val();
            const tableNo = $(".table-no").val();
            const parameter = {menuNo : menuNo ,tableNo : tableNo};

            $.ajax({
                url: "/order/save",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        selectMenuListByFirstCategoryNo();
                    } else {
                        $("#exception-modal-1").modal({});
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function cancelSelection() {
            const orderNo = $(".order-color").children().eq(0).val();
            const menuNo = $(".order-color").children().eq(1).val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, menuNo : menuNo, tableNo : tableNo};

            $.ajax({
                url: "/order/cancel-selection",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        selectMenuListByFirstCategoryNo();
                        $(".menu-color").removeClass("order-color");
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function cancelWhole() {
            const orderNo = $("input[name=order-no]").eq(0).val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, tableNo : tableNo};

            $.ajax({
                url: "/order/cancel-whole",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        selectMenuListByFirstCategoryNo();
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function quantityChange() {
            const orderNo = $(".order-color").children().eq(0).val();
            const menuNo = $(".order-color").children().eq(1).val();
            const quantity = $("input[name=inputValue]").val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, menuNo : menuNo, quantity : quantity, tableNo : tableNo};

            $.ajax({
                url: "/order/change-quantity",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        selectMenuListByFirstCategoryNo();
                        $(".menu-color").removeClass("order-color");
                        $("input[name=inputValue]").val(0);
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function salePriceChange() {
            const orderNo = $(".order-color").children().eq(0).val();
            const menuNo = $(".order-color").children().eq(1).val();
            const salePrice = $("input[name=inputValue]").val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, menuNo : menuNo, salePrice : salePrice, tableNo : tableNo};

            $.ajax({
                url: "/order/change-salePrice",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                        $("input[name=inputValue]").val(0);
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function service() {
            const orderNo = $(".order-color").children().eq(0).val();
            const menuNo = $(".order-color").children().eq(1).val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, menuNo : menuNo, tableNo : tableNo};

            $.ajax({
                url: "/order/service",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function selectOrderList() {

            const tableNo = $(".table-no").val();

            $.ajax({
                url: "/order",
                type: "get",
                data: {tableNo : tableNo},
                success: function(data) {
                    $(".table-middle").html("");

                    let totalPrice = 0;
                    let totalQuantity = 0;
                    let totalDiscountPrice = 0;
                    let totalSalePrice = 0;

                    for(let index in data) {
                        let html = "";
                        html += '<div class="table-middle-wrap">'
                        html +=     '<input type="hidden" name="order-no">'
                        html +=     '<input type="hidden" name="menu-no">'
                        html +=     '<div class="table-content-1">'
                        html +=         '<div>' + data[index].no + '</div>'
                        html +=     '</div>'
                        html +=     '<div class="table-content-2">'
                        html +=         '<div>' + data[index].menuName + '</div>'
                        html +=     '</div>'
                        html +=     '<div class="table-content-3">'
                        html +=         '<div>' + data[index].salePrice.toLocaleString() + '</div>'
                        html +=     '</div>'
                        html +=     '<div class="table-content-3">'
                        html +=         '<div>' + data[index].quantity + '</div>'
                        html +=     '</div>'
                        html +=     '<div class="table-content-3">'
                        html +=         '<div>' + data[index].discountPrice.toLocaleString() + '</div>'
                        html +=     '</div>'
                        html +=     '<div class="table-content-3">'
                        html +=         '<div>' + data[index].totalSalePrice.toLocaleString() + '</div>'
                        html +=     '</div>'
                        html +=     '<div class="table-content-6">'
                        html +=         '<div class="table-content-6-div">' + data[index].etc + '</div>'
                        html +=     '</div>'
                        html += '</div>'

                        totalQuantity += data[index].quantity;
                        totalDiscountPrice += data[index].discountPrice;
                        totalSalePrice += data[index].totalSalePrice;

                        $(".table-middle").append(html);
                    }

                    totalPrice = totalSalePrice + totalDiscountPrice;

                    for(let index in data) {
                        $("input[name=order-no]").eq(index).val(data[index].orderNo);
                        $("input[name=menu-no]").eq(index).val(data[index].menuNo);
                    }
                    $("#total-quantity").text(totalQuantity);
                    $("#total-discount-price").text(totalDiscountPrice.toLocaleString());
                    $("#total-sale-price").text(totalSalePrice.toLocaleString());
                    $("#total-price").text(totalPrice.toLocaleString());
                    $("#discount-price").text(totalDiscountPrice.toLocaleString());
                    $("#receive-price").text(totalSalePrice.toLocaleString());

                    const nonClickOrder = document.querySelectorAll(".table-middle-wrap");
                    function handleMenuOrder(event) {
                        nonClickOrder.forEach((e) => {
                            e.classList.remove("order-color");
                        });
                        event.target.classList.add("order-color");
                    }
                    nonClickOrder.forEach((e) => {
                        e.addEventListener("click", handleMenuOrder);
                    });
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function fullPer() {
            const orderNo = $("input[name=order-no]").eq(0).val();
            const percent = $("input[name=inputValue]").val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, percent : percent, tableNo : tableNo};

            $.ajax({
                url: "/order/discount-full-per",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                        $("input[name=inputValue]").val(0);
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function fullPrice() {
            const orderNo = $("input[name=order-no]").eq(0).val();
            const discountPrice = $("input[name=inputValue]").val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, discountPrice : discountPrice, tableNo : tableNo};

            $.ajax({
                url: "/order/discount-full-price",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                        $("input[name=inputValue]").val(0);
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function fullCancel() {
            const orderNo = $("input[name=order-no]").eq(0).val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, tableNo : tableNo};

            $.ajax({
                url: "/order/discount-full-cancel",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function selPer() {
            const orderNo = $("input[name=order-no]").eq(0).val();
            const menuNo = $(".order-color").children().eq(1).val();
            const percent = $("input[name=inputValue]").val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, menuNo : menuNo, percent : percent, tableNo : tableNo};

            $.ajax({
                url: "/order/discount-sel-per",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                        $("input[name=inputValue]").val(0);
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function selPrice() {
            const orderNo = $("input[name=order-no]").eq(0).val();
            const menuNo = $(".order-color").children().eq(1).val();
            const discountPrice = $("input[name=inputValue]").val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, menuNo : menuNo, discountPrice : discountPrice, tableNo : tableNo};

            $.ajax({
                url: "/order/discount-sel-price",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                        $("input[name=inputValue]").val(0);
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function selCancel() {
            const orderNo = $("input[name=order-no]").eq(0).val();
            const menuNo = $(".order-color").children().eq(1).val();
            const tableNo = $(".table-no").val();
            const parameter = {orderNo : orderNo, menuNo : menuNo, tableNo : tableNo};

            $.ajax({
                url: "/order/discount-sel-cancel",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        selectOrderList();
                        $(".menu-color").removeClass("order-color");
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function selectMenuList(data) {

            $("#menu-1").html("");
            $("#menu-2").html("");
            $("#menu-3").html("");

            for(let index in data) {
                let html = "";

                html += '<div class="menu-content">';
                html +=     '<input type="hidden" name="menu-no-1">'
                if(data[index].enoughStock === true) {
                    html +=     '<button type="button" class="menu-content-button">' + data[index].menuName + ' ' + data[index].salePrice.toLocaleString() + '</button>'
                } else {
                    html +=     '<button type="button" class="menu-content-button" disabled>' + data[index].menuName + ' ' + data[index].salePrice.toLocaleString() + '</button>'
                }
                html += '</div>'

                if(index < 6) {
                    $("#menu-1").append(html);
                } else if(index >= 6 && index < 12) {
                    $("#menu-2").append(html);
                } else if(index >= 12 && index < 18) {
                    $("#menu-3").append(html);
                }
            }

            for(let index in data) {
                $("input[name=menu-no-1]").eq(index).val(data[index].menuNo);
            }

            const nonClickMenu = document.querySelectorAll(".menu-content-button");
            function handleMenuClick(event) {
                nonClickMenu.forEach((e) => {
                    e.classList.remove("menu-color");
                });
                event.target.classList.add("menu-color");
            }

            nonClickMenu.forEach((e) => {
                e.addEventListener("click", handleMenuClick);
            });


        }

    </script>
</head>
<body>

    <section>
        <form class="form" action="/order/complete" method="post">
            <input type="hidden" class="table-no" name="tableNo" th:value="${tableNo}">
            <div class="main">
                <div class="left-main">
                    <div class="top-left-main">
                        <div class="table-top">
                            <div class="table-content-1">
                                <div class="table-content-name" th:text="#{label.no}"></div>
                            </div>
                            <div class="table-content-2">
                                <div class="table-content-name" th:text="#{label.menu.name}"></div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name" th:text="#{label.sale.price}"></div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name" th:text="#{label.quantity}"></div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name" th:text="#{label.discount}"></div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name" th:text="#{label.price}"></div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name" th:text="#{label.etc}"></div>
                            </div>
                        </div>
                        <div class="table-middle">
                            <div class="table-middle-wrap" th:each="order, orderStat : ${orderList}">
                                <input type="hidden" name="order-no" th:value="${order.orderNo}">
                                <input type="hidden" name="menu-no" th:value="${order.menuNo}">
                                <div class="table-content-1">
                                    <div th:text="${order.no}"></div>
                                </div>
                                <div class="table-content-2">
                                    <div th:text="${order.menuName}"></div>
                                </div>
                                <div class="table-content-3">
                                    <div th:text="${#numbers.formatInteger(order.salePrice, 0, 'COMMA')}"></div>
                                </div>
                                <div class="table-content-3">
                                    <div th:text="${order.quantity}"></div>
                                </div>
                                <div class="table-content-3">
                                    <div th:text="${#numbers.formatInteger(order.discountPrice, 0, 'COMMA')}"></div>
                                </div>
                                <div class="table-content-3">
                                    <div th:text="${#numbers.formatInteger(order.totalSalePrice, 0, 'COMMA')}"></div>
                                </div>
                                <div class="table-content-6">
                                    <div class="table-content-6-div" th:text="${order.etc}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-bottom">
                            <div class="table-content-4">
                                <div class="table-content-name" th:text="#{label.sum}"></div>
                            </div>
                            <div class="table-content-3">
                                <div id="total-quantity" class="table-content-name" th:text="${#numbers.formatInteger(orderTotal.totalQuantity, 0, 'COMMA')}"></div>
                            </div>
                            <div class="table-content-3">
                                <div id="total-discount-price" class="table-content-name" th:text="${#numbers.formatInteger(orderTotal.totalDiscountPrice, 0, 'COMMA')}"></div>
                            </div>
                            <div class="table-content-5">
                                <div id="total-sale-price" class="table-content-name" th:text="${#numbers.formatInteger(orderTotal.totalSalePrice, 0, 'COMMA')}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-left-main">
                        <div class="top-line">
                            <div class="button-wrap">
                                <button type="button" class="top-line-button" onclick="cancelWhole();" th:text="#{button.cancel.whole}"></button>
                            </div>
                            <div class="button-wrap">
                                <button type="button" class="top-line-button" onclick="cancelSelection();" th:text="#{button.cancel.selection}"></button>
                            </div>
                            <div class="button-wrap">
                                <button type="button" class="top-line-button" onclick="quantityChange();" th:text="#{button.quantity.change}"></button>
                            </div>
                            <div class="button-wrap">
                                <button type="button" class="top-line-button" onclick="salePriceChange();" th:text="#{button.sale.price.change}"></button>
                            </div>
                            <div class="button-wrap">
                                <button type="button" class="top-line-button-2" onclick="service();" th:text="#{button.service}"></button>
                            </div>
                            <div class="input-wrap">
                                <input type="text" name="inputValue" class="top-line-input" value="0">
                            </div>
                        </div>
                        <div class="bottom-line">
                            <div class="price">
                                <div class="span-wrap">
                                    <span class="price-title" th:text="#{label.total.price}"></span>
                                    <span id="total-price" class="price-value" th:text="${#numbers.formatInteger(orderTotal.totalDiscountPrice + orderTotal.totalSalePrice, 0, 'COMMA')}"></span>
                                </div>
                                <div class="line"></div>
                                <div class="span-wrap">
                                    <span class="price-title" th:text="#{label.discount.price}"></span>
                                    <span id="discount-price" class="price-value" th:text="${#numbers.formatInteger(orderTotal.totalDiscountPrice, 0, 'COMMA')}"></span>
                                </div>
                                <div class="line"></div>
                                <div class="span-wrap">
                                    <span class="price-title" th:text="#{label.receive.price}"></span>
                                    <span id="receive-price" class="price-value" th:text="${#numbers.formatInteger(orderTotal.totalSalePrice, 0, 'COMMA')}"></span>
                                </div>
                            </div>
                            <div class="discount">
                                <div class="discount-title" th:text="#{label.discount.processing}"></div>
                                <div class="line-2"></div>
                                <div class="discount-button-wrap">
                                    <button type="button" class="discount-button" onclick="fullPer();" th:text="|#{label.percent} #{label.total.discount}|"></button>
                                    <button type="button" class="discount-button" onclick="selPer();" th:text="|#{label.percent} #{label.selection.discount}|"></button>
                                </div>
                                <div class="discount-button-wrap">
                                    <button type="button" class="discount-button" onclick="fullPrice();" th:text="|#{label.dollar} #{label.total.discount}|"></button>
                                    <button type="button" class="discount-button" onclick="selPrice();" th:text="|#{label.dollar} #{label.selection.discount}|"></button>
                                </div>
                                <div class="discount-button-wrap">
                                    <button type="button" class="discount-button" onclick="fullCancel();" th:text="#{label.total.discount.cancle}"></button>
                                    <button type="button" class="discount-button" onclick="selCancel();" th:text="#{label.selection.discount.cancle}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-main">
                    <div class="category">
                        <div class="category-content" th:if="${categoryStat.index} < 6" th:each="category, categoryStat : ${categoryList}" onclick="selectMenuListByCategoryNo(this);">
                            <input type="hidden" th:value="${category.categoryNo}">
                            <button type="button" class="category-content-button" th:text="${category.categoryName}"></button>
                        </div>
                    </div>
                    <div class="category">
                        <div class="category-content" th:if="${categoryStat.index} >= 6" th:each="category, categoryStat : ${categoryList}" onclick="selectMenuListByCategoryNo(this);">
                            <input type="hidden" th:value="${category.categoryNo}">
                            <button type="button" class="category-content-button" th:text="${category.categoryName}"></button>
                        </div>
                    </div>
                    <div class="line-3"></div>
                    <div id="menu-1" class="menu">
                        <div class="menu-content" th:if="${menuStat.index} < 6" th:each="menu, menuStat : ${menuList}">
                            <input type="hidden" name="menu-no-1" th:value="${menu.menuNo}">
                            <button type="button" class="menu-content-button" th:if="${menu.isEnoughStock() == true}" th:text="|${menu.menuName} ${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}|"></button>
                            <button type="button" class="menu-content-button" th:if="${menu.isEnoughStock() == false}" th:text="|${menu.menuName} ${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}|" disabled></button>
                        </div>
                    </div>
                    <div id="menu-2" class="menu">
                        <div class="menu-content" th:if="${menuStat.index} >= 6 and ${menuStat.index} < 12" th:each="menu, menuStat : ${menuList}">
                            <input type="hidden" name="menu-no-1" th:value="${menu.menuNo}">
                            <button type="button" class="menu-content-button" th:if="${menu.isEnoughStock() == true}" th:text="|${menu.menuName} ${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}|"></button>
                            <button type="button" class="menu-content-button" th:if="${menu.isEnoughStock() == false}" th:text="|${menu.menuName} ${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}|" disabled></button>
                        </div>
                    </div>
                    <div id="menu-3" class="menu">
                        <div class="menu-content" th:if="${menuStat.index} >= 12 and ${menuStat.index} < 18" th:each="menu, menuStat : ${menuList}">
                            <input type="hidden" name="menu-no-1" th:value="${menu.menuNo}">
                            <button type="button" class="menu-content-button" th:if="${menu.isEnoughStock() == true}" th:text="|${menu.menuName} ${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}|"></button>
                            <button type="button" class="menu-content-button" th:if="${menu.isEnoughStock() == false}" th:text="|${menu.menuName} ${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}|" disabled></button>
                        </div>
                    </div>
                    <div class="line-3"></div>
                    <div class="right-button">
                        <div class="right-button-detail" onclick="saveOrder();">
                            <button type="button" class="button-content-write-1" th:text="#{button.order}"></button>
                        </div>
                        <div class="right-button-detail">
                            <button type="submit" class="button-content-write-1" th:text="#{button.payment}"></button>
                        </div>
                        <div class="right-button-detail" th:onclick="|location.href='@{/table}'|">
                            <button type="button" class="button-content-write-1" th:text="#{button.back}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

</body>
</html>