<!DOCTYPE html>
<html th:replace="fragment/orderBody :: orderLayout(~{::link}, ~{::script}, ~{::section})"
xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order/order.css}">
</head>
<script></script>
<body>
    <section>
        <div class="main">
            <div class="left-main">
                <div class="top-left-main">
                    <div class="table-top">
                        <div class="table-content-1">
                            <div class="table-content-name">No</div>
                        </div>
                        <div class="table-content-2">
                            <div class="table-content-name">메뉴명</div>
                        </div>
                        <div class="table-content-3">
                            <div class="table-content-name">단가</div>
                        </div>
                        <div class="table-content-3">
                            <div class="table-content-name">수량</div>
                        </div>
                        <div class="table-content-3">
                            <div class="table-content-name">할인</div>
                        </div>
                        <div class="table-content-3">
                            <div class="table-content-name">금액</div>
                        </div>
                        <div class="table-content-3">
                            <div class="table-content-name">비고</div>
                        </div>
                    </div>
                    <div class="table-middle">
                        <div class="table-middle-wrap">
                            <div class="table-content-1">
                                <div class="table-content-name-1">1</div>
                            </div>
                            <div class="table-content-2">
                                <div class="table-content-name-1">광어 + 소라</div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name-1">48,000</div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name-1">1</div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name-1">0</div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name-1">48,000</div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name-1">비고</div>
                            </div>
                        </div>
                    </div>
                    <div class="table-bottom">
                        <div class="table-bottom-wrap">
                            <div class="table-content-1">
                                <div class="table-content-name">합계</div>
                            </div>
                            <div class="table-content-4">
                                <div class="table-content-name">0</div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name">0</div>
                            </div>
                            <div class="table-content-3">
                                <div class="table-content-name">0</div>
                            </div>
                            <div class=".table-content-5">
                                <div class="table-content-name">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-left-main">

                </div>
            </div>
            <div class="right-main">

            </div>
        </div>

    </section>
</body>
</html>