<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.order.repository.OrderMapper">

    <select id="selectQuantity" resultType="int">
        SELECT O.QUANTITY
          FROM TORDER O
         WHERE O.STORE_NO = #{storeNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.MENU_NO = #{menuNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </select>

    <select id="selectOrderList" resultType="com.hsj.force.domain.dto.OrderListDTO">
        SELECT O.ORDER_NO
             , O.ORDER_SEQ
             , M.MENU_NO
             , M.MENU_NAME
             , O.SALE_PRICE
             , O.QUANTITY
             , O.DISCOUNT_PRICE
             , O.TOTAL_SALE_PRICE
             , O.FULL_PRICE_YN
             , O.FULL_PER_YN
             , O.SEL_PRICE_YN
             , O.SEL_PER_YN
             , O.SERVICE_YN
          FROM TORDER O
             , TMENU M
         WHERE O.MENU_NO = M.MENU_NO
           AND O.STORE_NO = #{storeNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </select>

    <select id="selectOrderNo" resultType="String">
        SELECT O.ORDER_NO
          FROM TORDER O
         WHERE O.STORE_NO = #{storeNo}
           AND O.TABLE_NO =  #{tableNo}
         ORDER BY O.ORDER_NO DESC
         LIMIT 1
    </select>

    <select id="selectOrderSeq" resultType="String">
        SELECT O.ORDER_SEQ
          FROM TORDER O
         WHERE O.ORDER_NO = #{orderNo}
         ORDER BY O.ORDER_SEQ DESC
         LIMIT 1;
    </select>

    <insert id="insertOrder">
        INSERT
          INTO TORDER
        (`MENU_NO`,
         `SALE_PRICE`,
         `QUANTITY`,
         `DISCOUNT_PRICE`,
         `ORDER_DATE`,
         `CANCEL_DATE`,
         `INSERT_ID`,
         `INSERT_DATE`,
         `MODIFY_ID`,
         `MODIFY_DATE`,
         `FULL_PRICE_YN`,
         `FULL_PER_YN`,
         `SEL_PRICE_YN`,
         `SEL_PER_YN`,
         `SERVICE_YN`,
         `ORDER_SEQ`,
         `ORDER_STATUS_NO`,
         `TOTAL_SALE_PRICE`,
         `ORDER_NO`,
         `STORE_NO`,
         `TABLE_NO`
        )
        VALUES
        (#{menuNo},
         #{salePrice},
         #{quantity},
         #{discountPrice},
         NOW(),
         NULL,
         #{insertId},
         NOW(),
         #{modifyId},
         NOW(),
         #{fullPriceYn},
         #{fullPerYn},
         #{selPriceYn},
         #{selPerYn},
         #{serviceYn},
         #{orderSeq},
         #{orderStatusNo},
         #{totalSalePrice},
         #{orderNo},
         #{storeNo},
         #{tableNo}
        )
    </insert>

    <update id="updateOrder">
        UPDATE TORDER O
           SET O.QUANTITY = #{quantity}
             , O.TOTAL_SALE_PRICE = #{totalSalePrice}
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.MENU_NO = #{menuNo}
    </update>

    <update id="updateOrderStatusV1">
        UPDATE TORDER O
           SET O.ORDER_STATUS_NO = #{orderStatusNo}
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateOrderStatusV2">
        UPDATE TORDER O
           SET O.ORDER_STATUS_NO = #{orderStatusNo}
             , O.CANCEL_DATE = NOW()
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.MENU_NO = #{menuNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateOrderStatusV3">
        UPDATE TORDER O
           SET O.ORDER_STATUS_NO = #{orderStatusNo}
             , O.CANCEL_DATE = NOW()
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateQuantity">
        UPDATE TORDER O
           SET O.QUANTITY = #{quantity}
             , O.DISCOUNT_PRICE = #{discountPrice}
             , O.TOTAL_SALE_PRICE = #{totalSalePrice}
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
         AND O.ORDER_NO = #{orderNo}
         AND O.TABLE_NO = #{tableNo}
         AND O.MENU_NO = #{menuNo}
         AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateSalePrice">
        UPDATE TORDER O
           SET O.SALE_PRICE = #{salePrice}
             , O.DISCOUNT_PRICE = #{discountPrice}
             , O.TOTAL_SALE_PRICE = #{totalSalePrice}
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.MENU_NO = #{menuNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <select id="selectOrderInfo" resultType="Order">
        SELECT O.FULL_PRICE_YN
             , O.FULL_PER_YN
             , O.SEL_PRICE_YN
             , O.SEL_PER_YN
             , O.SERVICE_YN
             , O.SALE_PRICE
             , O.QUANTITY
             , O.TOTAL_SALE_PRICE
          FROM TORDER O
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.MENU_NO = #{menuNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </select>

    <update id="updateService">
        UPDATE TORDER O
           SET O.DISCOUNT_PRICE = #{discountPrice}
             , O.TOTAL_SALE_PRICE = #{totalSalePrice}
             , O.FULL_PRICE_YN = '0'
             , O.FULL_PER_YN = '0'
             , O.SEL_PRICE_YN = '0'
             , O.SEL_PER_YN = '0'
             , O.SERVICE_YN = #{serviceYn}
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.MENU_NO = #{menuNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <select id="selectOrderInfoList" resultType="Order">
        SELECT O.MENU_NO
             , O.FULL_PRICE_YN
             , O.FULL_PER_YN
             , O.SEL_PRICE_YN
             , O.SEL_PER_YN
             , O.SERVICE_YN
             , O.SALE_PRICE
             , O.QUANTITY
             , O.TOTAL_SALE_PRICE
         FROM TORDER O
        WHERE O.STORE_NO = #{storeNo}
          AND O.ORDER_NO = #{orderNo}
          AND O.TABLE_NO = #{tableNo}
          AND O.ORDER_STATUS_NO = 'OS001'
    </select>

    <update id="updateDiscountFullPer">
        UPDATE TORDER O
           SET O.DISCOUNT_PRICE = #{discountPrice}
             , O.TOTAL_SALE_PRICE = #{totalSalePrice}
             , O.FULL_PRICE_YN = '0'
             , O.FULL_PER_YN = #{fullPerYn}
             , O.SEL_PRICE_YN = '0'
             , O.SEL_PER_YN = '0'
             , O.SERVICE_YN = '0'
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.MENU_NO = #{menuNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateDiscountFullPrice">
        UPDATE TORDER O
        SET O.DISCOUNT_PRICE = #{discountPrice}
          , O.TOTAL_SALE_PRICE = #{totalSalePrice}
          , O.FULL_PRICE_YN = #{fullPriceYn}
          , O.FULL_PER_YN = '0'
          , O.SEL_PRICE_YN = '0'
          , O.SEL_PER_YN = '0'
          , O.SERVICE_YN = '0'
          , O.MODIFY_ID = #{modifyId}
          , O.MODIFY_DATE = NOW()
        WHERE O.STORE_NO = #{storeNo}
          AND O.ORDER_NO = #{orderNo}
          AND O.MENU_NO = #{menuNo}
          AND O.TABLE_NO = #{tableNo}
          AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateDiscountCancel">
        UPDATE TORDER O
           SET O.DISCOUNT_PRICE = '0'
             , O.TOTAL_SALE_PRICE = #{totalSalePrice}
             , O.FULL_PRICE_YN = '0'
             , O.FULL_PER_YN = '0'
             , O.SEL_PRICE_YN = '0'
             , O.SEL_PER_YN = '0'
             , O.SERVICE_YN = '0'
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.MENU_NO = #{menuNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateDiscountSelPer">
        UPDATE TORDER O
        SET O.DISCOUNT_PRICE = #{discountPrice}
          , O.TOTAL_SALE_PRICE = #{totalSalePrice}
          , O.FULL_PRICE_YN = '0'
          , O.FULL_PER_YN = '0'
          , O.SEL_PRICE_YN = '0'
          , O.SEL_PER_YN = #{selPerYn}
          , O.SERVICE_YN = '0'
          , O.MODIFY_ID = #{modifyId}
          , O.MODIFY_DATE = NOW()
        WHERE O.STORE_NO = #{storeNo}
          AND O.ORDER_NO = #{orderNo}
          AND O.MENU_NO = #{menuNo}
          AND O.TABLE_NO = #{tableNo}
          AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <update id="updateDiscountSelPrice">
        UPDATE TORDER O
           SET O.DISCOUNT_PRICE = #{discountPrice}
             , O.TOTAL_SALE_PRICE = #{totalSalePrice}
             , O.FULL_PRICE_YN = '0'
             , O.FULL_PER_YN = '0'
             , O.SEL_PRICE_YN = #{selPriceYn}
             , O.SEL_PER_YN = '0'
             , O.SERVICE_YN = '0'
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.MENU_NO = #{menuNo}
           AND O.TABLE_NO = #{tableNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </update>

    <select id="selectOrderStatusNoList" resultType="String">
        SELECT O.ORDER_STATUS_NO
          FROM TORDER O
         WHERE O.ORDER_NO = #{orderNo}
    </select>

    <select id="selectLastOrderNo" resultType="String">
        SELECT O.ORDER_NO
          FROM TORDER O
         WHERE O.STORE_NO = #{storeNo}
         ORDER BY O.ORDER_NO DESC
         LIMIT 1
    </select>

    <select id="selectMenuNoList" resultType="String">
        SELECT O.MENU_NO
          FROM TORDER O
         WHERE O.STORE_NO = #{storeNo}
           AND O.ORDER_NO = #{orderNo}
           AND O.ORDER_STATUS_NO = 'OS001'
    </select>

    <select id="selectOrderListV2" resultType="com.hsj.force.domain.dto.OrderListDTO">
        SELECT O.ORDER_NO
             , O.ORDER_SEQ
             , O.STORE_NO
             , O.TABLE_NO
             , O.MENU_NO
             , O.SALE_PRICE
             , O.QUANTITY
             , O.TOTAL_SALE_PRICE
             , O.ORDER_STATUS_NO
             , M.MENU_NAME
        FROM TORDER O
           , TMENU M
        WHERE O.MENU_NO = M.MENU_NO
          AND O.ORDER_STATUS_NO = 'OS001'
          AND M.SALE_STATUS_NO = 'SS001'
          AND O.STORE_NO = #{storeNo}
    </select>

</mapper>