body {
    height:100%;
    overflow:hidden;
    background-color: #A3B1E7;
}

.box {
    margin: 0 auto;
    width: 33%;
    background-color: white;
    border-radius: 10px;
}

.title-box {
    margin-top:10%;
    background-color:#5F6FB8;
    border-radius: 5px;
}

.title {
    margin-left: 7%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 190%;
    font-weight: bold;
    color: white;
}

.sub-title {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 150%;
    font-weight: bold;
}

.sub-content {
    margin-left: 3%;
    font-size: 125%;
}

.input-box {
    margin-left: 2.5%;
    width: 36%;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 100%;
    border-color: #C2C2C2;
    margin-top: 2.5%;
}

.input-box-2 {
    margin-left: 2.5%;
    width: 36%;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 100%;
    border-color: #C2C2C2;
    margin-top: 2.5%;
}

.input-box-3 {
    margin-left: 2.5%;
    width: 36%;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 100%;
    border-color: #C2C2C2;
    margin-top: 2.5%;
}

.input-box-4 {
    width: 7%;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 100%;
    border-color: #C2C2C2;
    margin-top: 3.5%;
}

.submit-button {
    border-radius: 10px;
    cursor:pointer;
    background-color: #5DA4EF;
    color: white;
    width: 25%;
    font-size: 150%;
    border-color: white;
}

.button-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}