<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::title}, ~{::link}, ~{::script}, ~{::section})">
xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Force</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/table.css}">
    <script th:src="@{/js/table/table.js}"></script>
</head>
<body>

    <section class="main-content">
        <div class="line">
            <div class="first-line">
                <div class="table-number">1</div>
                <div class="table-content">
                    <div class="table-menu">광어 + 소라</div>
                    <div class="table-quantity">2</div>
                </div>
                <div class="table-content">
                    <div class="table-menu">광어 + 도다리세꼬시</div>
                    <div class="table-quantity">2</div>
                </div>
                <div class="table-price">192,000</div>
            </div>
            <div class="first-line"></div>
            <div class="first-line"></div>
            <button class="line-button">이동</button>
            <button class="line-button">합석</button>
            <button class="line-button">분할</button>
        </div>
        <div class="line">
            <div class="second-line"></div>
            <div class="second-line"></div>
            <div class="second-line"></div>
        </div>
        <div class="line">
            <div class="third-line"></div>
            <div class="third-line"></div>
            <div class="third-line"></div>
        </div>
    </section>

</body>
</html>