<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::title}, ~{::link}, ~{::script}, ~{::section})">
xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Force</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/table.css}">
    <script th:src="@{/js/table/table.js}"></script>
</head>
<body>

    <section class="main-content">
        <div class="line">
            <div class="first-line">
                <div class="table-number" th:text="${tableList[0].tableName}">1</div>
                    <div class="table-content" th:each="order : ${orderList}">
                        <div class="table-menu" th:if="${tableList[0].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                        <div class="table-quantity" th:if="${tableList[0].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                    </div>
                <div class="table-price" th:text="${tableTotalPriceList[0].tableTotalPrice}"></div>
            </div>
            <div class="first-line"></div>
            <div class="first-line"></div>
            <button class="line-button">이동</button>
            <button class="line-button">합석</button>
            <button class="line-button">분할</button>
        </div>
        <div class="line" th:each="order : ${orderList}">
            <div class="second-line"></div>
            <div class="second-line"></div>
            <div class="second-line"></div>
        </div>
        <div class="line" th:each="order : ${orderList}">
            <div class="third-line"></div>
            <div class="third-line"></div>
            <div class="third-line"></div>
        </div>
    </section>

</body>
</html>