<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.category.repository.CategoryMapper">

    <select id="selectCategoryList" resultType="Category">
        SELECT C.CATEGORY_NO
             , C.STORE_NO
             , C.CATEGORY_NAME
             , C.USE_YN
             , C.PRIORITY
         FROM TCATEGORY  C
        WHERE C.STORE_NO = #{storeNo}
        ORDER BY PRIORITY ASC;
    </select>

    <select id="selectCategoryListByOrderForm" resultType="Category">
        SELECT C.CATEGORY_NO
             , C.STORE_NO
             , C.CATEGORY_NAME
             , C.USE_YN
             , C.PRIORITY
         FROM TCATEGORY  C
        WHERE C.USE_YN = '1'
          AND C.STORE_NO = #{storeNo}
        ORDER BY PRIORITY ASC;
    </select>

    <select id="selectCategoryNo" resultType="String">
        SELECT MAX(C.CATEGORY_NO)
          FROM TCATEGORY C
         WHERE C.STORE_NO = #{storeNo}
    </select>

    <insert id="insertCategory">
        INSERT
          INTO TCATEGORY
        (
          CATEGORY_NO
        , STORE_NO
        , CATEGORY_NAME
        , PRIORITY
        , USE_YN
        , INSERT_ID
        , INSERT_DATE
        , MODIFY_ID
        , MODIFY_DATE
        )
        VALUES
        (
          #{categoryNo}
        , #{storeNo}
        , #{categoryName}
        , #{priority}
        , #{useYn}
        , #{insertId}
        , NOW()
        , #{modifyId}
        , NOW()
        )
    </insert>

    <select id="selectPriority" resultType="int">
        SELECT 1
          FROM TCATEGORY C
         WHERE C.STORE_NO = #{storeNo}
           AND C.PRIORITY = #{priority}
    </select>

    <select id="selectMaxPriority" resultType="int">
        SELECT MAX(C.PRIORITY)
          FROM TCATEGORY C
         WHERE C.STORE_NO = #{storeNo}
    </select>

    <update id="updatePriority">
        UPDATE
               TCATEGORY C
           SET C.PRIORITY = #{maxPriority}
             , C.MODIFY_ID = #{modifyId}
             , C.MODIFY_DATE = NOW()
         WHERE C.STORE_NO = #{storeNo}
           AND C.PRIORITY = #{priority}
    </update>

    <update id="updateCategory">
        UPDATE
               TCATEGORY C
           SET C.CATEGORY_NAME = #{categoryName}
             , C.USE_YN = #{useYn}
             , C.PRIORITY = #{priority}
             , C.MODIFY_ID = #{modifyId}
             , C.MODIFY_DATE = NOW()
         WHERE C.STORE_NO = #{storeNo}
           AND C.CATEGORY_NO = #{categoryNo}
    </update>

    <select id="selectCategory" resultType="com.hsj.force.domain.dto.CategoryUpdateDTO">
        SELECT C.CATEGORY_NO
             , C.STORE_NO
             , C.CATEGORY_NAME
             , C.USE_YN
             , C.PRIORITY
        FROM TCATEGORY  C
        WHERE C.STORE_NO = #{storeNo}
        AND C.CATEGORY_NO = #{categoryNo}
    </select>
</mapper>