<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.open.repository.OpenMapper">

    <select id="selectIsOpen" resultType="int">
        SELECT COUNT(*)
          FROM TOPENCLOSE
         WHERE CLOSE_MONEY IS NULL
           AND STORE_NO = #{storeNo}
    </select>

   <select id="selectOpenInfo" resultType="com.hsj.force.domain.dto.OpenDTO">
       SELECT B.USER_ID AS CLOSER_ID
            , B.USER_NAME AS CLOSER_NAME
            , A.MODIFY_DATE
         FROM TOPENCLOSE A
            , TUSER B
        WHERE A.MODIFY_ID = B.USER_ID
          AND A.STORE_NO = #{storeNo}
        ORDER BY A.MODIFY_DATE DESC
        LIMIT 1
   </select>

    <select id="selectOpenCloseSeq" resultType="String">
        SELECT OC.OPEN_CLOSE_SEQ
          FROM TOPENCLOSE OC
         WHERE CLOSE_MONEY IS NOT NULL
           AND date_format(OC.INSERT_DATE, '%Y-%m-%d') = curdate()
           AND OC.STORE_NO = #{storeNo}
         ORDER BY OC.OPEN_CLOSE_SEQ DESC
         LIMIT 1
   </select>

    <select id="selectOpenCloseNo" resultType="String">
        SELECT OPEN_CLOSE_NO
          FROM TOPENCLOSE
         WHERE STORE_NO = #{storeNo}
         ORDER BY OPEN_CLOSE_NO DESC
         LIMIT 1
    </select>

    <insert id="insertOpen">
        INSERT
          INTO TOPENCLOSE
        (
          OPEN_CLOSE_NO
        , STORE_NO
        , OPEN_CLOSE_SEQ
        , OPEN_MONEY
        , INSERT_ID
        , INSERT_DATE
        , MODIFY_ID
        , MODIFY_DATE
        )
        VALUES
        (
          #{openCloseNo}
        , #{storeNo}
        , #{openCloseSeq}
        , #{openMoney}
        , #{insertId}
        , NOW()
        , #{modifyId}
        , NOW()
        )
    </insert>
</mapper>