<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.open.repository.OpenMapper">

    <select id="selectOpenCloseSeq" resultType="String">
        SELECT OC.OPEN_CLOSE_SEQ
          FROM TOPENCLOSE OC
         WHERE CLOSE_MONEY IS NOT NULL
           AND date_format(OC.INSERT_DATE, '%Y-%m-%d') = curdate()
         ORDER BY OC.OPEN_CLOSE_SEQ DESC
         LIMIT 1
   </select>

</mapper>