@media (max-width: 2000px) {
    html { font-size: 125%; }
}

@media (max-width: 1800px) {
    html { font-size: 112.5%; }
}

@media (max-width: 1600px) {
    html { font-size: 100%; }
}

@media (max-width: 1400px) {
    html { font-size: 87.5%; }
}

@media (max-width: 1200px) {
    html { font-size: 75%; }
}

@media (max-width: 1000px) {
    html { font-size: 62.5%; }
}

@media (max-width: 800px) {
    html { font-size: 50%; }
}

@media (max-width: 600px) {
    html { font-size: 37.5%; }
}

@media (max-width: 400px) {
    html { font-size: 25%; }
}

html {
    height: 100%;
}

body {
    height:100%;
    overflow:hidden;
    background-color: #ABA8A8;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-title {
    background-color: #ABA8A8;
    margin-left: 3.5%;
}

.main-title {
    font-weight: bold;
    font-size: 100%;
}

.header-content {
    display: flex;
    justify-content: space-around;
    width: 75%;
    background-color: #757575;
}

.content {
    color: white;
}

.button-1 {
    background-color: #757575;
    font-weight: bold;
    font-size: 100%;
    color: white;
    cursor:pointer;
    border-color: #ABA8A8;
}

.button-2 {
    background-color: #757575;
    font-weight: bold;
    font-size: 100%;
    color: white;
    cursor:pointer;
    border-color: #ABA8A8;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    margin-top:0.5%;
    background-color: #A3B1E7;
    height: 100%;
    border-color: grey;
}

.side-bar {
    width: 10.5%;
    height: 100%;
    background-color: white;
}

.side-bar-button-wrap {
    margin-left: 12%;
}

.side-bar-button {
    width: 85%;
    background-color: #F2EDFF;
    font-weight: bold;
    font-size: 140%;
    cursor:pointer;
    border-color: white;
    margin-top:15%;
}