html {
    height: 100%;
}

body {
    height:100%;
    overflow:hidden;
    background-color: #ABA8A8;
}

@media (max-width: 2000px) {
    html { font-size: 125%; }
}

@media (max-width: 1600px) {
    html { font-size: 100%; }
}

@media (max-width: 1200px) {
    html { font-size: 75%; }
}

@media (max-width: 800px) {
    html { font-size: 50%; }
}

@media (max-width: 400px) {
    html { font-size: 25%; }
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-title {
    background-color: #ABA8A8;
    margin-left: 3.5%;
}

.main-title {
    font-weight: bold;
    font-size: 100%;
}

.header-content {
    display: flex;
    justify-content: space-around;
    width: 75%;
    background-color: #757575;
}

.content {
    color: white;
}

.button-1 {
    background-color: #757575;
    font-weight: bold;
    font-size: 100%;
    color: white;
    cursor:pointer;
    border-color: #ABA8A8;
    width: 180%;
    height: 100%;
}

.button-2 {
    background-color: #757575;
    font-weight: bold;
    font-size: 100%;
    color: white;
    cursor:pointer;
    border-color: #ABA8A8;
    height: 100%;
    width: 100%;
}