<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::link}, ~{::script}, ~{::section})"
xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/tableS001.css}">
</head>
<script></script>
<body>

    <section>
        <div class="line">
            <div class="first-line" th:onclick="|location.href='@{order/{param}(param=${tableList[0].tableNo})}'|">
                <div class="table-number" th:text="${tableList[0].tableName}"></div>
                    <div class="table-content" th:each="order : ${orderList}">
                        <div class="table-menu" th:if="${tableList[0].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                        <div class="table-quantity" th:if="${tableList[0].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                    </div>
                <div class="table-price" th:if="${tableTotalPriceList[0].tableTotalPrice != 0}" th:text="${tableTotalPriceList[0].tableTotalPrice}"></div>
            </div>
            <div class="first-line" th:onclick="|location.href='@{order/{param}(param=${tableList[1].tableNo})}'|">
                <div class="table-number" th:text="${tableList[1].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[1].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[1].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[1].tableTotalPrice != 0}" th:text="${tableTotalPriceList[1].tableTotalPrice}"></div>
            </div>
            <div class="first-line" th:onclick="|location.href='@{order/{param}(param=${tableList[2].tableNo})}'|">
                <div class="table-number" th:text="${tableList[2].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[2].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[2].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[2].tableTotalPrice != 0}" th:text="${tableTotalPriceList[2].tableTotalPrice}"></div>
            </div>
            <button class="line-button" th:text="#{button.move}"></button>
            <button class="line-button" th:text="#{button.join}"></button>
            <button class="line-button" th:text="#{button.division}"></button>
        </div>
        <div class="line">
            <div class="second-line" th:onclick="|location.href='@{order/{param}(param=${tableList[3].tableNo})}'|">
                <div class="table-number" th:text="${tableList[3].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[3].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[3].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[3].tableTotalPrice != 0}" th:text="${tableTotalPriceList[3].tableTotalPrice}"></div>
            </div>
            <div class="second-line" th:onclick="|location.href='@{order/{param}(param=${tableList[4].tableNo})}'|">
                <div class="table-number" th:text="${tableList[4].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[4].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[4].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[4].tableTotalPrice != 0}" th:text="${tableTotalPriceList[4].tableTotalPrice}"></div>
            </div>
            <div class="second-line" th:onclick="|location.href='@{order/{param}(param=${tableList[5].tableNo})}'|">
                <div class="table-number" th:text="${tableList[5].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[5].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[5].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[5].tableTotalPrice != 0}" th:text="${tableTotalPriceList[5].tableTotalPrice}"></div>
            </div>
        </div>
        <div class="line">
            <div class="third-line" th:onclick="|location.href='@{order/{param}(param=${tableList[6].tableNo})}'|">
                <div class="table-number" th:text="${tableList[6].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[6].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[6].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[6].tableTotalPrice != 0}" th:text="${tableTotalPriceList[6].tableTotalPrice}"></div>
            </div>
            <div class="third-line" th:onclick="|location.href='@{order/{param}(param=${tableList[7].tableNo})}'|">
                <div class="table-number" th:text="${tableList[7].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[7].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[7].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[7].tableTotalPrice != 0}" th:text="${tableTotalPriceList[7].tableTotalPrice}"></div>
            </div>
            <div class="third-line" th:onclick="|location.href='@{order/{param}(param=${tableList[8].tableNo})}'|">
                <div class="table-number" th:text="${tableList[8].tableName}"></div>
                <div class="table-content" th:each="order : ${orderList}">
                    <div class="table-menu" th:if="${tableList[8].tableNo == order.tableNo}" th:text="${order.menuName}"></div>
                    <div class="table-quantity" th:if="${tableList[8].tableNo == order.tableNo}" th:text="${order.quantity}"></div>
                </div>
                <div class="table-price" th:if="${tableTotalPriceList[8].tableTotalPrice != 0}" th:text="${tableTotalPriceList[8].tableTotalPrice}"></div>
            </div>
        </div>
    </section>

</body>
</html>