<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::link}, ~{::script}, ~{::section})"
xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/tableS001.css}">
    <script th:inline="javascript">

        function tableMovePopup() {

            $("#table-move-modal").modal({});

            $.ajax({
                url: "/table/exist/order/list",
                type: "get",
                success: function(data) {
                    $(".before-list").html("");
                    let html = "";
                    for(let index in data) {
                        html += '<option value=' + data[index].tableNo + '>' + data[index].tableName + '</option>'
                    }
                    $(".before-list").append(html);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "/table/not/exist/order/list",
                type: "get",
                success: function(data) {
                    $(".after-list").html("");
                    let html = "";
                    for(let index in data) {
                        html += '<option value=' + data[index].tableNo + '>' + data[index].tableName + '</option>'
                    }
                    $(".after-list").append(html);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

        }

        function tableMove() {
            const beforeTableNo = $(".before-list").val();
            const afterTableNo = $(".after-list").val();
            const parameter = {beforeTableNo : beforeTableNo, afterTableNo : afterTableNo};

            $.ajax({
                url: "/table/update/V1",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    location.reload();
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

        function reload() {
            location.reload();
        }

        function tableCombinePopup() {
            $("#table-combine-modal").modal({});

            $.ajax({
                url: "/table/exist/order/list",
                type: "get",
                success: function(data) {
                    $(".first-list").html("");
                    $(".second-list").html("");
                    let html = "";
                    for(let index in data) {
                        html += '<option value=' + data[index].tableNo + '>' + data[index].tableName + '</option>'
                    }
                    $(".first-list").append(html);
                    $(".second-list").append(html);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

        }

        function tableCombine() {
            const firstTableNo = $(".first-list").val();
            const secondTableNo = $(".second-list").val();
            const parameter = {firstTableNo : firstTableNo, secondTableNo : secondTableNo};

            $.ajax({
                url: "/table/update/V2",
                type: "post",
                data: JSON.stringify(parameter),
                dataType : "json",
                contentType: "application/json",
                success: function(data) {
                    if(data > 0) {
                        location.reload();
                    } else {
                        $(".field-error-1").text($("input[name=field-error-1]").val());
                    }
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });
        }

    </script>
</head>
<body>

    <section class="section">
        <div class="line">
            <div class="first-line" th:if="${tableStat.index} < 3" th:each="table, tableStat : ${tableList}" th:onclick="|location.href='@{order/{param}(param=${table.tableNo})}'|">
                <div class="table-number" th:text="${table.tableName}"></div>
                <th:block th:if="${table.tableNo == order.key}" th:each="order, orderStat : ${tableOfOrderMap}">
                    <div class="table-content" th:if="${listStat.index} < 3" th:each="list, listStat : ${order.value}">
                        <div class="table-menu" th:text="${list.menuName}"></div>
                        <div class="table-quantity" th:text="${list.quantity}"></div>
                    </div>
                </th:block>
                <div class="table-price" th:if="${tableTotalPrice.tableTotalPrice != 0 and tableTotalPrice.tableNo == table.tableNo}" th:each="tableTotalPrice, tableTotalPriceStat : ${tableTotalPriceList}" th:text="${#numbers.formatInteger(tableTotalPrice.tableTotalPrice, 0, 'COMMA')}"></div>
            </div>
            <button type="button" class="line-button" th:text="#{button.move}" onclick="tableMovePopup();"></button>
            <button type="button" class="line-button" th:text="#{button.join}" onclick="tableCombinePopup();"></button>
        </div>
        <div class="line">
            <div class="second-line" th:if="${tableStat.index} >= 3 and ${tableStat.index} < 6" th:each="table, tableStat : ${tableList}" th:onclick="|location.href='@{order/{param}(param=${table.tableNo})}'|">
                <div class="table-number" th:text="${table.tableName}"></div>
                <th:block th:if="${table.tableNo == order.key}" th:each="order, orderStat : ${tableOfOrderMap}">
                        <div class="table-content" th:if="${listStat.index} < 3" th:each="list, listStat : ${order.value}">
                            <div class="table-menu" th:text="${list.menuName}"></div>
                            <div class="table-quantity" th:text="${list.quantity}"></div>
                        </div>
                        <div class="dot" th:if="${listStat.index} >= 3" th:each="list, listStat : ${order.value}" th:text="#{label.dot}"></div>
                </th:block>
                <div class="table-price" th:if="${tableTotalPrice.tableTotalPrice != 0 and tableTotalPrice.tableNo == table.tableNo}" th:each="tableTotalPrice, tableTotalPriceStat : ${tableTotalPriceList}" th:text="${#numbers.formatInteger(tableTotalPrice.tableTotalPrice, 0, 'COMMA')}"></div>
            </div>
        </div>
        <div class="line">
            <div class="third-line" th:if="${tableStat.index} >= 6 and ${tableStat.index} < 9" th:each="table, tableStat : ${tableList}" th:onclick="|location.href='@{order/{param}(param=${table.tableNo})}'|">
                <div class="table-number" th:text="${table.tableName}"></div>
                <th:block th:if="${table.tableNo == order.key}" th:each="order, orderStat : ${tableOfOrderMap}">
                    <div class="table-content" th:if="${listStat.index} < 3" th:each="list, listStat : ${order.value}">
                        <div class="table-menu" th:text="${list.menuName}"></div>
                        <div class="table-quantity" th:text="${list.quantity}"></div>
                    </div>
                    <div class="dot" th:if="${listStat.index} >= 3" th:each="list, listStat : ${order.value}" th:text="#{label.dot}"></div>
                </th:block>
                <div class="table-price" th:if="${tableTotalPrice.tableTotalPrice != 0 and tableTotalPrice.tableNo == table.tableNo}" th:each="tableTotalPrice, tableTotalPriceStat : ${tableTotalPriceList}" th:text="${#numbers.formatInteger(tableTotalPrice.tableTotalPrice, 0, 'COMMA')}"></div>
            </div>
        </div>
    </section>

</body>
</html>