<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.table.repository.TableMapper">

    <select id="selectTableList" resultType="com.hsj.force.domain.dto.TableListDTO">
        SELECT T.TABLE_NO
             , T.TABLE_NAME
          FROM TTABLE T
         WHERE T.STORE_NO = #{storeNo}
         ORDER BY T.TABLE_NO ASC
    </select>

    <select id="selectOrderList" resultType="com.hsj.force.domain.dto.OrderListDTO">
        SELECT O.ORDER_NO
             , O.ORDER_SEQ
             , O.STORE_NO
             , O.TABLE_NO
             , O.MENU_NO
             , O.SALE_PRICE
             , O.QUANTITY
             , O.TOTAL_SALE_PRICE
             , O.ORDER_STATUS_NO
             , M.MENU_NAME
          FROM TORDER O
             , TMENU M
         WHERE O.MENU_NO = M.MENU_NO
           AND O.ORDER_STATUS_NO = 'OS001'
           AND M.SALE_STATUS_NO = 'SS001'
           AND O.STORE_NO = #{storeNo}
    </select>

    <select id="selectTableExistOrderList" resultType="com.hsj.force.domain.dto.TableListDTO">
        SELECT DISTINCT(T.TABLE_NO)
             , T.TABLE_NAME
          FROM TTABLE T
             , TORDER O
         WHERE T.TABLE_NO = O.TABLE_NO
           AND T.STORE_NO = #{storeNo}
           AND O.ORDER_STATUS_NO = 'OS001'
         ORDER BY T.TABLE_NO ASC
    </select>

    <select id="selectTableNotExistOrderList" resultType="com.hsj.force.domain.dto.TableListDTO">
        SELECT T.TABLE_NO
             , T.TABLE_NAME
          FROM TTABLE T
         WHERE NOT EXISTS (SELECT *
                             FROM TORDER O
                            WHERE T.TABLE_NO = O.TABLE_NO
                              AND O.ORDER_STATUS_NO = 'OS001'
        )
           AND T.STORE_NO = #{storeNo}
         ORDER BY T.TABLE_NO ASC
    </select>

    <update id="updateTableNo">
        UPDATE TORDER O
           SET O.TABLE_NO = #{afterTableNo}
             , O.MODIFY_ID = #{modifyId}
             , O.MODIFY_DATE = NOW()
         WHERE O.STORE_NO = #{storeNo}
           AND O.TABLE_NO = #{beforeTableNo}
    </update>

</mapper>