<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragment/header :: common_header(~{::title}, ~{::link}, ~{::script})">
    <title>Force</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/openclose/open.css}">
    <script th:src="@{/js/openclose/open.js}"></script>
</head>
<body>

    <form th:action th:object="${openClose}" method="post">
        <div class="whole-backGround">
            <div class="gap"></div>
                <div class="box">
                    <div class="title-box">
                        <div class="title">개점 처리</div>
                    </div>
                    <p class="sub-title">마감 현황</p>
                    <ul class="sub-content">
                        <li>마감 처리 일자 :
                            <input type="text" th:value="${#temporals.format(openClose.closeDate, 'YYYY-MM-dd (E)')}" class="input-box" disabled>
                        </li>
                        <li>마감 처리 시간 :
                            <input type="text" th:value="${#temporals.format(openClose.closeTime, 'YYYY-MM-dd HH:mm')}" class="input-box" disabled>
                        </li>
                        <li>마감 판매원 :
                            <input type="text" th:field="*{closer}" class="input-box-2" disabled>
                        </li>
                    </ul>
                    <p class="sub-title">개점 처리</p>
                    <ul class="sub-content">
                        <li>시스템 일자 :
                            <input type="text" class="input-box-2" th:value="${#temporals.format(openClose.currentDate, 'YYYY-MM-dd (E)')}" disabled>
                        </li>
                        <li>개점 영업 일자 :
                            <input type="text" class="input-box-3" th:value="${#temporals.format(openClose.currentDate, 'YYYY-MM-dd HH:mm')}" disabled>
                            <input type="text" class="input-box-4" th:value="|${openClose.procedure}차|" disabled>
                        </li>
                        <li>개점 준비금 :
                            <input type="text" th:field="*{openMoney}" class="input-box-2">
                        </li>
                        <li>개점 판매원 :
                            <input type="text" th:field="*{opener}" class="input-box-2" disabled>
                        </li>
                    </ul>
                    <div class="button-wrap">
                        <button type="submit" class="submit-button">개점처리</button>
                        <button type="button" class="button-button" th:href="@{/logout}">취소</button>
                    </div>
                </div>
            <div class="gap"></div>
        </div>
    </form>

</body>
</html>