<!DOCTYPE html>
<html th:fragment="commonLayout(title,links,scripts,content)" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragment/commonBody.css}">
    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>
<body>
    <form th:action method="post">
        <div class="header-wrap">
            <div class="header">
                <div class="header-title">
                    <p class="main-title" th:text="#{title.force}"></p>
                </div>
                <div class="header-content">
                    <p class="content" th:text="|#{header.storeName}${header.storeName}|"></p>
                    <p class="content" th:text="|#{header.businessDate}${#temporals.format(header.businessDate, 'YYYY-MM-dd (E)')}|"></p>
                    <p class="content" th:text="|#{header.salesMan}${header.salesMan}|"></p>
                    <p class="content" th:text="|#{header.currentDate}${#temporals.format(header.currentDate, 'YYYY-MM-dd HH:mm')}|"></p>
                </div>
                <button type="submit" class="button" th:text="#{button.close}"></button>
                <button type="button" class="button" th:text="#{button.logout}" th:onclick="|location.href='@{/logout}'|"></button>
            </div>
        </div>
    </form>

    <div class="main">
        <div class="side-bar">
            <div class="side-bar-button-wrap">
                <button class="side-bar-button" th:text="#{button.table}"></button>
                <button class="side-bar-button" th:text="#{button.category}"></button>
                <button class="side-bar-button" th:text="#{button.menu}"></button>
                <button class="side-bar-button" th:text="#{button.ingredient}"></button>
                <button class="side-bar-button" th:text="#{button.sales}"></button>
                <button class="side-bar-button" th:text="#{button.stock}"></button>
                <button class="side-bar-button" th:text="#{button.inquiry}"></button>
            </div>
        </div>
        <div th:replace="${content}"></div>
    </div>

    <div class="footer">
        <div class="policy">
            <div class="info" th:text="#{footer.privacy.statement}"></div>
            <div class="info" th:text="#{footer.terms.of.use}"></div>
        </div>
        <hr class="hr">
        <div class="company-info">
            <div class="company-name">
                <div class="company-name-content">
                    <p class="company-name-content-1" th:text="#{footer.force}"></p>
                    <p class="company-name-content-2" th:text="#{footer.ceo}"></p>
                    <p class="company-name-content-2" th:text="#{footer.interval}"></p>
                    <p class="company-name-content-2" th:text="#{footer.company.registration.number}"></p>
                </div>
                <div class="company-name-content-3" th:text="#{footer.address}"></div>
            </div>
            <div class="contact">
                <p class="contact-1" th:text="#{footer.AS}"></p>
                <p class="contact-1"><span th:text="#{footer.AS.time}"></span><span th:text="#{footer.AS.break.time}"></span></p>
                <p class="contact-2" th:text="#{footer.contact}"></p>
            </div>
        </div>
    </div>

</body>
</html>