<!DOCTYPE html>
<html th:fragment="commonLayout(links,script,content)" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Force</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragment/commonBody.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <th:block th:replace="${links}"/>
    <th:block th:replace="${script}"/>
</head>
<body>

    <div class="header">
        <img class="header-title-image" src="/images/fragment/title.png" alt="title.png" th:onclick="|location.href='@{/table}'|"/>
        <div class="header-content">
            <p class="content" th:text="|#{header.storeName} : ${header.storeName}|"></p>
            <p class="content" th:text="|#{header.businessDate} : ${#temporals.format(header.businessDate, 'YYYY-MM-dd (E)')}|"></p>
            <p class="content" th:text="|#{header.salesMan} : ${header.salesMan}|"></p>
            <p class="content" th:text="|#{header.currentDate} : ${#temporals.format(header.currentDate, 'YYYY-MM-dd HH:mm')}|"></p>
        </div>
        <button type="button" class="button-1" th:text="#{button.close}" th:onclick="|location.href='@{/close}'|"></button>
        <form class="header-form" th:action="@{/logout}" method="post">
            <button type="submit" class="button-2" th:text="#{button.logout}"></button>
        </form>
    </div>

    <div class="main">
        <div class="side-bar">
            <div class="side-bar-button-wrap">
                <button type="button" class="side-bar-button" th:text="#{button.table}" th:onclick="|location.href='@{/table}'|"></button>
                <button type="button" class="side-bar-button" th:text="#{button.category}" th:onclick="|location.href='@{/category}'|"></button>
                <button type="button" class="side-bar-button" th:text="#{button.menu}" th:onclick="|location.href='@{/menu}'|"></button>
                <button type="button" class="side-bar-button" th:text="#{button.ingredient}" th:onclick="|location.href='@{/ingredient}'|"></button>
            </div>
        </div>
        <div th:replace="${content}"></div>
    </div>

    <div id="table-move-modal" class="modal">
        <div class="top-area">
            <div class="table-modal-text" th:text="#{label.before.move.table}"></div>
            <div class="table-modal-text" th:text="#{label.after.move.table}"></div>
        </div>
        <div class="middle-area">
           <select id="beforeTableNo" name="beforeTableNo" class="middle-area-select before-list"></select>
           <select id="afterTableNo" name="afterTableNo" class="middle-area-select after-list"></select>
        </div>
        <div class="bottom-area">
            <button type="button" class="bottom-button" onclick="tableMove();" th:text="#{button.complete}"></button>
            <button type="button" class="bottom-button" onclick="reload();" th:text="#{button.cancel}"></button>
        </div>
    </div>

    <div id="table-combine-modal" class="modal">
        <div class="top-area">
            <div class="table-modal-text" th:text="#{label.first.table}"></div>
            <div class="table-modal-text" th:text="#{label.second.table}"></div>
        </div>
        <div class="middle-area">
            <select id="firstTableNo" name="firstTableNo" class="middle-area-select first-list"></select>
            <select id="secondTableNo" name="secondTableNo" class="middle-area-select second-list"></select>
        </div>
        <div class="field-error-1"></div>
        <div class="bottom-area">
            <button type="button" class="bottom-button" onclick="tableCombine();" th:text="#{button.complete}"></button>
            <button type="button" class="bottom-button" onclick="reload();" th:text="#{button.cancel}"></button>
        </div>
    </div>

    <div id="exception-modal" class="modal">
        <p th:text="#{message.select.update.category}"></p>
    </div>

</body>
</html>