<!DOCTYPE html>
<html th:fragment="orderLayout(links,script,content)" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Force</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragment/orderBody.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <th:block th:replace="${links}"/>
    <th:block th:replace="${script}"/>
</head>
<body>
    <div class="header">
        <div class="header-title">
            <p class="main-title" th:text="#{title.force}"></p>
        </div>
        <div class="header-content">
            <p class="content" th:text="|#{header.storeName} : ${header.storeName}|"></p>
            <p class="content" th:text="|#{header.businessDate} : ${#temporals.format(header.businessDate, 'YYYY-MM-dd (E)')}|"></p>
            <p class="content" th:text="|#{header.salesMan} : ${header.salesMan}|"></p>
            <p class="content" th:text="|#{header.currentDate} : ${#temporals.format(header.currentDate, 'YYYY-MM-dd HH:mm')}|"></p>
        </div>
        <form th:action method="post">
            <button type="submit" class="button-1" th:text="#{button.close}"></button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="button-2" th:text="#{button.logout}"></button>
        </form>
    </div>

    <div th:replace="${content}"></div>

</body>
</html>