<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.close.repository.CloseMapper">

    <select id="selectSumInfo" resultType="com.hsj.force.domain.dto.CloseDTO">
        SELECT SUM(O.SALE_PRICE) AS SUM_SALE_PRICE
             , COUNT(*) AS SUM_ORDER_CNT
        FROM TORDER O
        WHERE date_format(O.ORDER_DATE, '%Y-%m-%d') &gt;= (SELECT OC.MODIFY_DATE
                                                           FROM TOPENCLOSE OC
                                                           WHERE OC.CLOSE_MONEY IS NULL)
          AND O.STORE_NO = #{storeNo}
    </select>

    <select id="selectCancelInfo" resultType="com.hsj.force.domain.dto.CloseDTO">
        SELECT SUM(O.TOTAL_SALE_PRICE) AS SUM_CANCEL_PRICE
             , COUNT(*) AS SUM_CANCEL_CNT
        FROM TORDER O
        WHERE date_format(O.ORDER_DATE, '%Y-%m-%d') > (SELECT OC.MODIFY_DATE
                                                       FROM TOPENCLOSE OC
                                                       WHERE OC.CLOSE_MONEY IS NULL)
          AND O.ORDER_STATUS_NO = 'OS002'
          AND O.STORE_NO = #{storeNo}
    </select>

    <select id="selectDiscountPrice" resultType="int">
        SELECT SUM(O.DISCOUNT_PRICE) AS DISCOUNT_PRICE
        FROM TORDER O
        WHERE date_format(O.ORDER_DATE, '%Y-%m-%d') > (SELECT OC.MODIFY_DATE
                                                       FROM TOPENCLOSE OC
                                                       WHERE OC.CLOSE_MONEY IS NULL)
          AND O.ORDER_STATUS_NO = 'OS003'
          AND O.STORE_NO = #{storeNo}
    </select>

    <select id="selectRealOrderInfo" resultType="com.hsj.force.domain.dto.CloseDTO">
        SELECT COUNT(*) AS REAL_ORDER_CNT
             , SUM(O.TOTAL_SALE_PRICE) AS TOTAL_SALE_PRICE
        FROM TORDER O
        WHERE date_format(O.ORDER_DATE, '%Y-%m-%d') > (SELECT OC.MODIFY_DATE
                                                       FROM TOPENCLOSE OC
                                                       WHERE OC.CLOSE_MONEY IS NULL)
          AND O.ORDER_STATUS_NO = 'OS003'
          AND O.STORE_NO = #{storeNo}
    </select>

    <update id="updateOpenClose">
        UPDATE TOPENCLOSE
        SET ONE_HUN_THOUS= #{oneHunThousStr}
          , FIFTY_THOUS = #{fiftyThousStr}
          , TEN_THOUS = #{tenThousStr}
          , FIVE_THOUS = #{fiveThousStr}
          , ONE_THOUS = #{oneThousStr}
          , FIVE_HUN = #{fiveHunStr}
          , ONE_HUN = #{oneHunStr}
          , FIFTY = #{fiftyStr}
          , TEN = #{tenStr}
          , CLOSE_MONEY = #{closeMoney}
          , MODIFY_ID = #{modifyId}
          , MODIFY_DATE = NOW()
        WHERE STORE_NO = #{storeNo}
          AND CLOSE_MONEY IS NULL
    </update>

</mapper>