body {
    height:100%;
    overflow:hidden;
    background-color: #A3B1E7;
}

.login-box {
    margin: 0 auto;
    border-color: #848484;
    background-color: white;
    width: 18%;
    height: 100%;
    border-radius: 10px;
}

.login-system-title {
    padding-top:10%;
    margin-top:40%;
    text-align: center;
    font-weight: bold;
    font-size: 250%;
    font-family: fantasy;
}

.login-system-subtitle {
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

.login-insert {
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.login-input {
    width: 75%;
    height: 90%;
    font-size: 100%;
    margin-left: 5%;
}

.login-password-input {
    width: 75%;
    height: 80%;
    font-size: 100%;
    margin-left: 5.5%;
}

.login-image-1 {
    margin-left: 5%;
    height: 13%;
}

.login-image-2 {
    margin-left: 6.5%;
    height: 13%;
}

.login-save-find {
    display: flex;
    justify-content: center;
}

.login-save-wrap {
    display: flex;
    justify-content: center;
}

.login-id-find {
    display: block;
    text-decoration: none;
    text-align: center;
}

.login-password-find {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top:5%;
}

.login-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 10%;
}

.login-button {
    border-radius: 10px;
    cursor:pointer;
    background-color: #5DA4EF;
    color: white;
    width: 60%;
    font-size: 150%;
    border-color: white;
}

.field-error {
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
    color: red;
}

.field-error-global {
    text-align: center;
    font-weight: bold;
    color: red;
}