<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragment/header :: common_header(~{::link}, ~{::script})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/close/close.css}">
    <script th:inline="javascript"></script>
</head>
<body>

    <form th:action th:object="${close}" method="post">
    <div class="close-first-div">
        <div class="close-first-div-left">
            <div class="first-content">
                <div>
                    <p class="first-content-first-div-p" th:text="#{label.deadline.settlement}"></p>
                </div>
                <div class="first-content-second-div">
                    <p class="first-content-second-div-p" th:text="|#{label.post.time} : ${#temporals.format(close.currentDate, 'YYYY-MM-dd HH:mm (E)')}|"></p>
                </div>
            </div>
            <div class="second-content">
                <div>
                    <span th:text="|#{label.total.sale.price} : |"></span>
                    <span th:text="${close.sumSalePrice}"></span>
                </div>
                <div class="second-content-div-1">
                    <span th:text="|#{label.number.of.sale} : |"></span>
                    <span th:text="${close.sumOrderCnt}"></span>
                </div>
            </div>
            <div class="second-content">
                <div>
                    <span th:text="|#{label.cancel.order.sale.price} : |"></span>
                    <span th:text="${close.sumCancelPrice}"></span>
                </div>
                <div class="second-content-div-2">
                    <span th:text="|#{label.number.of.order.cancel} : |"></span>
                    <span th:text="${close.sumCancelCnt}"></span>
                </div>
            </div>
            <div class="second-content">
                <div>
                    <span th:text="|#{label.total.discount.price} : |"></span>
                    <span th:text="${close.discountPrice}"></span>
                </div>
                <div class="second-content-div-3">
                    <span th:text="|#{label.real.order.cnt} : |"></span>
                    <span th:text="${close.realOrderCnt}"></span>
                </div>
            </div>
            <div class="second-content">
                <div>
                    <span th:text="|#{label.total.sale.price-2} : |"></span>
                    <span th:text="${close.totalSalePrice}"></span>
                </div>
            </div>
            <div class="line-1"></div>
        </div>
        <div class="close-first-div-right">
            <div class="third-content">
                <div>
                    <p class="third-content-first-div-p" th:text="#{label.closing.cash.present}"></p>
                </div>
            </div>
            <div class="fourth-content-wrap">
                <div class="fourth-content">
                    <span th:text="#{label.one.hun.thous}"></span>
                    <div class="fourth-content-div-1">
                        <input type="number" min="0" th:field="*{oneHunThousStr}" class="fourth-content-input">
                        <span th:text="#{label.num}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.fifty.thous}"></span>
                    <div class="fourth-content-div-1">
                        <input type="number" min="0" th:field="*{fiftyThousStr}" class="fourth-content-input">
                        <span th:text="#{label.num}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.ten.thous}"></span>
                    <div class="fourth-content-div-2">
                        <input type="number" min="0" th:field="*{tenThousStr}" class="fourth-content-input">
                        <span th:text="#{label.num}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.five.thous}"></span>
                    <div class="fourth-content-div-1">
                        <input type="number" min="0" th:field="*{fiveThousStr}" class="fourth-content-input">
                        <span th:text="#{label.num}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.one.thous}"></span>
                    <div class="fourth-content-div-2">
                        <input type="number" min="0" th:field="*{oneThousStr}" class="fourth-content-input">
                        <span th:text="#{label.num}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.five.hun}"></span>
                    <div class="fourth-content-div-2">
                        <input type="number" min="0" th:field="*{fiveHunStr}" class="fourth-content-input">
                        <span th:text="#{label.num-2}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.one.hun}"></span>
                    <div class="fourth-content-div-3">
                        <input type="number" min="0" th:field="*{oneHunStr}" class="fourth-content-input">
                        <span th:text="#{label.num-2}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.fifty}"></span>
                    <div class="fourth-content-div-2">
                        <input type="number" min="0" th:field="*{fiftyStr}" class="fourth-content-input">
                        <span th:text="#{label.num-2}"></span>
                    </div>
                </div>
                <div class="fourth-content">
                    <span th:text="#{label.ten}"></span>
                    <div class="fourth-content-div-3">
                        <input type="number" min="0" th:field="*{tenStr}" class="fourth-content-input">
                        <span th:text="#{label.num-2}"></span>
                    </div>
                </div>
            </div>
            <div class="line-2"></div>
            <div class="button-wrap">
                <button type="submit" class="submit-button" th:text="#{button.close}"></button>
                <button type="button" class="submit-button" th:text="#{button.back}" th:onclick="|location.href='@{/table}'|"></button>
            </div>
        </div>
    </div>

</body>
</html>