<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.force.common.repository.CommonMapper">

    <select id="selectStoreName" resultType="String">
        SELECT S.STORE_NAME
          FROM TSTORE S
         WHERE S.STORE_NO = #{storeNo}
    </select>

</mapper>