<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::link}, ~{::script}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/category/categoryInsert.css}">
    <script th:inline="javascript" th:src="@{/js/category/category.js}"></script>
</head>
<body>

<section class="section">
    <form class="form" th:action th:object="${category}" method="post">
        <div class="first-div">
            <label class="first-div-label">카테고리명</label>
            <input class="first-div-input" th:field="*{categoryName}"/>
        </div>
    </form>
</section>

</body>
</html>