<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::link}, ~{::script}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu/menuList.css}">
<script th:inline="javascript">
    function menuUpdateForm(div) {
        const menuNo = div.children[0].value;
        location.href = "/menu/" + menuNo + "/update"
    }
</script>
</head>
<body>

<section>
    <div class="menu-box">
        <div class="menu-title">
            <div class="menu-title-no" th:text="#{label.no}"></div>
            <div class="menu-title-name"  th:text="#{label.menu.name}"></div>
            <div class="menu-title-status"  th:text="#{label.sale.status}"></div>
            <div class="menu-title-category"  th:text="#{label.category}"></div>
            <div class="menu-title-stock"  th:text="#{label.sale.able.stock}"></div>
            <div class="menu-title-price"  th:text="#{label.price}"></div>
        </div>
        <div class="menu-content" th:each="menu : ${menuList}" ondblclick="menuUpdateForm(this);">
            <input type="hidden" name="menu-no" th:value="${menu.menuNo}">
            <div class="menu-no" th:text="${menu.no}"></div>
            <div class="menu-name" th:text="${menu.menuName}"></div>
            <div class="menu-status" th:text="${menu.saleStatus}"></div>
            <div class="menu-category" th:text="${menu.categoryName}"></div>
            <div class="menu-stock" th:text="${menu.stock}"></div>
            <div class="menu-price" th:text="${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}"></div>
        </div>
    </div>

    <div class="menu-button-wrap">
        <button type="button" class="menu-button-1" th:onclick="|location.href='@{menu/insert}'|" th:text="#{button.insert}"></button>
    </div>
</section>

</body>
</html>