<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::link}, ~{::script}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu/menuUpdate.css}">
    <script th:inline="javascript">

        const categoryNo = [[${menu.categoryNo}]];
        const saleStatusNo = [[${menu.saleStatusNo}]];
        const ingredientQuantity = [[${ingredientQuantityList}]];
        const inputIngredientMsg = [[#{message.input.ingredientNo}]];

        $(function() {

            $.ajax({
                url: "/category/list",
                type: "get",
                success: function(data) {
                    $("select[name=categoryNo]").html("");
                    let html = "";
                    for(let index in data) {
                        if(categoryNo === data[index].categoryNo) {
                            html += '<option value=' + data[index].categoryNo + ' selected="selected">' + data[index].categoryName + '</option>'
                        } else {
                            html += '<option value=' + data[index].categoryNo + '>' + data[index].categoryName + '</option>'
                        }

                    }
                    $("select[name=categoryNo]").append(html);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "/common/sale-status",
                type: "get",
                success: function(data) {
                    $("select[name=saleStatusNo]").html("");
                    let html = "";
                    for(let index in data) {
                        if(saleStatusNo === data[index].saleStatusNo) {
                            html += '<option value=' + data[index].saleStatusNo + ' selected="selected">' + data[index].saleStatus + '</option>'
                        } else {
                            html += '<option value=' + data[index].saleStatusNo + '>' + data[index].saleStatus + '</option>'
                        }
                    }
                    $("select[name=saleStatusNo]").append(html);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "/ingredient/list",
                type: "get",
                success: function (data) {

                    $("select[name=ingredientNo1]").html("");
                    $("select[name=ingredientNo2]").html("");
                    $("select[name=ingredientNo3]").html("");
                    $("select[name=ingredientNo4]").html("");

                    let html1 = "";
                    let html2 = "";
                    let html3 = "";
                    let html4 = "";

                    html1 += '<option value="">' + inputIngredientMsg + '</option>';
                    html2 += '<option value="">' + inputIngredientMsg + '</option>';
                    html3 += '<option value="">' + inputIngredientMsg + '</option>';
                    html4 += '<option value="">' + inputIngredientMsg + '</option>';

                    const ingredientNo1 = ingredientQuantity[0].ingredientNo;
                    const ingredientNo2 = ingredientQuantity[1].ingredientNo;
                    const ingredientNo3 = ingredientQuantity[2].ingredientNo;
                    const ingredientNo4 = ingredientQuantity[3].ingredientNo;

                    for (let index in data) {

                        if(ingredientNo1 === data[index].ingredientNo) {
                            html1 += '<option value=' + data[index].ingredientNo + ' selected="selected">' + data[index].ingredientName + '</option>'
                        } else {
                            html1 += '<option value=' + data[index].ingredientNo + '>' + data[index].ingredientName + '</option>'
                        }

                        if(ingredientNo2 === data[index].ingredientNo) {
                            html2 += '<option value=' + data[index].ingredientNo + ' selected="selected">' + data[index].ingredientName + '</option>'
                        } else {
                            html2 += '<option value=' + data[index].ingredientNo + '>' + data[index].ingredientName + '</option>'
                        }

                        if(ingredientNo3 === data[index].ingredientNo) {
                            html3 += '<option value=' + data[index].ingredientNo + ' selected="selected">' + data[index].ingredientName + '</option>'
                        } else {
                            html3 += '<option value=' + data[index].ingredientNo + '>' + data[index].ingredientName + '</option>'
                        }

                        if(ingredientNo4 === data[index].ingredientNo) {
                            html4 += '<option value=' + data[index].ingredientNo + ' selected="selected">' + data[index].ingredientName + '</option>'
                        } else {
                            html4 += '<option value=' + data[index].ingredientNo + '>' + data[index].ingredientName + '</option>'
                        }

                    }

                    $("select[name=ingredientNo1]").append(html1);
                    $("select[name=ingredientNo2]").append(html2);
                    $("select[name=ingredientNo3]").append(html3);
                    $("select[name=ingredientNo4]").append(html4);
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });

            const salePrice = document.querySelector('#salePrice');
            salePrice.addEventListener('keyup', function(e) {
                let value = e.target.value;
                value = Number(value.replaceAll(',', ''));
                if(isNaN(value)) {         //NaN인지 판별
                    salePrice.value = 0;
                } else {                   //NaN이 아닌 경우
                    const formatValue = value.toLocaleString('ko-KR');
                    salePrice.value = formatValue;
                }
            })
        })

    </script>
</head>
<body>

    <section class="section">
        <form class="form" th:action th:object="${menu}" method="post" enctype="multipart/form-data">
            <div class="div-wrap">
                <div class="div-separate">
                    <div class="div-separate-left">
                        <div class="first-div">
                            <label th:text="|#{label.menu.name} : |"></label>
                            <input type="text" class="first-div-input" th:field="*{menuName}"/>
                        </div>
                        <div class="field-error" th:if="${errors?.containsKey('menuName')}" th:text="${errors['menuName']}"></div>
                        <div class="second-div">
                            <label th:text="|#{label.category} : |"></label>
                            <select class="second-div-select" th:field="*{categoryNo}"></select>
                        </div>
                        <div class="third-div">
                            <label th:text="|#{label.sale.status} : |"></label>
                            <select class="third-div-select" th:field="*{saleStatusNo}"></select>
                        </div>
                        <div class="fourth-div">
                            <label th:text="|#{label.sale.price-2} : |"></label>
                            <input type="text" class="fourth-div-input" th:field="*{salePrice}"/>
                        </div>
                        <div class="field-error" th:if="${errors?.containsKey('salePrice')}" th:text="${errors['salePrice']}"></div>
                        <div class="fifth-div">
                            <label th:text="|#{label.ingredient} : |"></label>
                            <select class="fifth-div-select" name="ingredientNo1" th:value="${ingredientQuantityList[0].ingredientNo}"></select>
                            <input type="number" min="0.1" step="0.1" class="fifth-div-input" name="quantity1" th:value="${ingredientQuantityList[0].quantity == 0.0 ? null : ingredientQuantityList[0].quantity}"/>
                            <label class="fifth-div-label" th:text="#{label.number}"></label>
                        </div>
                        <div class="fifth-div">
                            <label th:text="|#{label.ingredient} : |"></label>
                            <select class="fifth-div-select" name="ingredientNo2" th:value="${ingredientQuantityList[1].ingredientNo}"></select>
                            <input type="number" min="0.1" step="0.1" class="fifth-div-input" name="quantity2" th:value="${ingredientQuantityList[1].quantity == 0.0 ? null : ingredientQuantityList[1].quantity}"/>
                            <label class="fifth-div-label" th:text="#{label.number}"></label>
                        </div>
                        <div class="fifth-div">
                            <label th:text="|#{label.ingredient} : |"></label>
                            <select class="fifth-div-select" name="ingredientNo3" th:value="${ingredientQuantityList[2].ingredientNo}"></select>
                            <input type="number" min="0.1" step="0.1" class="fifth-div-input" name="quantity3" th:value="${ingredientQuantityList[2].quantity == 0.0 ? null : ingredientQuantityList[2].quantity}"/>
                            <label class="fifth-div-label" th:text="#{label.number}"></label>
                        </div>
                        <div class="fifth-div">
                            <label th:text="|#{label.ingredient} : |"></label>
                            <select class="fifth-div-select" name="ingredientNo4" th:value="${ingredientQuantityList[3].ingredientNo}"></select>
                            <input type="number" min="0.1" step="0.1" class="fifth-div-input" name="quantity4" th:value="${ingredientQuantityList[3].quantity == 0.0 ? null : ingredientQuantityList[3].quantity}"/>
                            <label class="fifth-div-label" th:text="#{label.number}"></label>
                        </div>
                        <div class="field-error" th:if="${errors?.containsKey('ingredientNo')}" th:text="${errors['ingredientNo']}"></div>
                    </div>
                    <div class="div-separate-right">
                        <img class="div-separate-right-img" th:src="|/menu/image/${imageSaveName}|" width="100%" height="100%"/>
                        <div class="div-separate-right-img-div">
                            <input type="file" class="div-separate-right-img-div-file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="button-wrap">
                    <button type="submit" class="save-button" th:text="#{button.save}"></button>
                    <button type="button" class="back-button" th:onclick="|location.href='@{/menu}'|" th:text="#{button.back}"></button>
                </div>
            </div>
        </form>
    </section>

</body>
</html>