<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::link}, ~{::script}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu/menuInsert.css}">
    <script th:inline="javascript">

        const inputIngredientMsg = [[#{message.input.ingredientNo}]];

        $(function() {
            $.ajax({
                url: "/category/list",
                type: "get",
                success: function(data) {
                    $("select[name=categoryNo]").html("");
                    let html = "";
                    for(let index in data) {
                        html += '<option value=' + data[index].categoryNo + '>' + data[index].categoryName + '</option>'
                    }
                    $("select[name=categoryNo]").append(html);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "/common/sale-status",
                type: "get",
                success: function(data) {
                    $("select[name=saleStatusNo]").html("");
                    let html = "";
                    for(let index in data) {
                        html += '<option value=' + data[index].saleStatusNo + '>' + data[index].saleStatus + '</option>'
                    }
                    $("select[name=saleStatusNo]").append(html);
                },
                error: function(xhr) {
                    console.log(xhr);
                }
            });

            $.ajax({
                url: "/ingredient/list",
                type: "get",
                success: function (data) {
                    $("select[name=ingredientNo1]").html("");
                    $("select[name=ingredientNo2]").html("");
                    $("select[name=ingredientNo3]").html("");
                    $("select[name=ingredientNo4]").html("");

                    let html = "";
                    html += '<option value="">' + inputIngredientMsg + '</option>';
                    for (let index in data) {
                        html += '<option value=' + data[index].ingredientNo + '>' + data[index].ingredientName + '</option>'
                    }
                    $("select[name=ingredientNo1]").append(html);
                    $("select[name=ingredientNo2]").append(html);
                    $("select[name=ingredientNo3]").append(html);
                    $("select[name=ingredientNo4]").append(html);

                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });

            const salePrice = document.querySelector('#salePriceStr');
            salePrice.addEventListener('keyup', function(e) {
                let value = e.target.value;
                value = Number(value.replaceAll(',', ''));
                if(isNaN(value)) {         //NaN인지 판별
                    salePrice.value = 0;
                }else {                   //NaN이 아닌 경우
                    const formatValue = value.toLocaleString('ko-KR');
                    salePrice.value = formatValue;
                }
            })
        })

    </script>
</head>
<body>

    <section class="section">
        <form class="form" th:action th:object="${menu}" method="post" enctype="multipart/form-data">
            <div class="div-wrap">
                <div class="first-div">
                    <label th:text="|#{label.menu.name} : |"></label>
                    <input type="text" class="first-div-input" th:field="*{menuName}"/>
                </div>
                <div class="field-error" th:if="${errors?.containsKey('menuName')}" th:text="${errors['menuName']}"></div>
                <div class="second-div">
                    <label th:text="|#{label.category} : |"></label>
                    <select class="second-div-select" th:field="*{categoryNo}"></select>
                </div>
                <div class="third-div">
                    <label th:text="|#{label.sale.status} : |"></label>
                    <select class="third-div-select" th:field="*{saleStatusNo}"></select>
                </div>
                <div class="fourth-div">
                    <label th:text="|#{label.sale.price-2} : |"></label>
                    <input type="text" class="fourth-div-input" th:field="*{salePriceStr}"/>
                </div>
                <div class="field-error" th:if="${errors?.containsKey('salePriceStr')}" th:text="${errors['salePriceStr']}"></div>
                <div class="field-error" th:if="${errors?.containsKey('salePrice')}" th:text="${errors['salePrice']}"></div>
                <div class="fifth-div">
                    <label th:text="|#{label.ingredient} : |"></label>
                    <select class="fifth-div-select" th:field="*{ingredientNo1}"></select>
                    <input type="number" min="0.1" step="0.1" class="fifth-div-input" th:field="*{quantityStr1}"/>
                    <label class="fifth-div-label" th:text="#{label.number}"></label>
                </div>
                <div class="fifth-div">
                    <label th:text="|#{label.ingredient} : |"></label>
                    <select class="fifth-div-select" th:field="*{ingredientNo2}"></select>
                    <input type="number" min="0.1" step="0.1" class="fifth-div-input" th:field="*{quantityStr2}"/>
                    <label class="fifth-div-label" th:text="#{label.number}"></label>
                </div>
                <div class="fifth-div">
                    <label th:text="|#{label.ingredient} : |"></label>
                    <select class="fifth-div-select" th:field="*{ingredientNo3}"></select>
                    <input type="number" min="0.1" step="0.1" class="fifth-div-input" th:field="*{quantityStr3}"/>
                    <label class="fifth-div-label" th:text="#{label.number}"></label>
                </div>
                <div class="fifth-div">
                    <label th:text="|#{label.ingredient} : |"></label>
                    <select class="fifth-div-select" th:field="*{ingredientNo4}"></select>
                    <input type="number" min="0.1" step="0.1" class="fifth-div-input" th:field="*{quantityStr4}"/>
                    <label class="fifth-div-label" th:text="#{label.number}"></label>
                </div>
                <div class="field-error" th:if="${errors?.containsKey('ingredientNo')}" th:text="${errors['ingredientNo']}"></div>
                <div class="sixth-div">
                    <label th:text="|#{label.image} : |"></label>
                    <input type="file" class="sixth-div-file" name="file"/>
                </div>
                <div class="field-error" th:if="${errors?.containsKey('file')}" th:text="${errors['file']}"></div>
                <div class="button-wrap">
                    <button type="submit" class="save-button" th:text="#{button.save}"></button>
                    <button type="button" class="back-button" th:onclick="|location.href='@{/menu}'|" th:text="#{button.back}"></button>
                </div>
            </div>
        </form>
    </section>

</body>
</html>