<!DOCTYPE html>
<html th:replace="fragment/commonBody :: commonLayout(~{::link}, ~{::script}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu/menu.css}">
<script th:inline="javascript">
    function addMenuPopup() {

        $("#menu-add-modal").modal({});

        $.ajax({
            url: "/category/list",
            type: "get",
            success: function(data) {
                $("select[name=category]").html("");
                let html = "";
                for(let index in data) {
                    html += '<option value=' + data[index].categoryNo + '>' + data[index].categoryName + '</option>'
                }
                $("select[name=category]").append(html);
            },
            error: function(xhr) {
                console.log(xhr);
            }
        });

        $.ajax({
            url: "/common/sale-status",
            type: "get",
            success: function(data) {
                $("select[name=sale-status]").html("");
                let html = "";
                for(let index in data) {
                    html += '<option value=' + data[index].saleStatusNo + '>' + data[index].saleStatus + '</option>'
                }
                $("select[name=sale-status]").append(html);
            },
            error: function(xhr) {
                console.log(xhr);
            }
        });

        $.ajax({
            url: "/ingredient",
            type: "get",
            success: function(data) {
                $("select[name=ingredient]").html("");
                let html = "";
                for(let index in data) {
                    html += '<option value=' + data[index].ingredientNo + '>' + data[index].ingredientName + '</option>'
                }
                $("select[name=ingredient]").append(html);
            },
            error: function(xhr) {
                console.log(xhr);
            }
        });
    }

    function addIngredient() {

        const numberLabel = [[#{label.number}]];

        let html = "";

        html += '<div class="middle-area-4">'
        html +=     '<select name="ingredient" class="middle-area-1-select"></select>'
        html +=     '<input type="number" min="0.1" step="0.1" name="quantity" class="middle-area-3-input"/>'
        html +=     '<label class="label-number">' + numberLabel + '</label>'
        html +=     '<img class="menu-image-2" src="/images/menu/minus.png" alt="minus.png" onclick="removeIngredient();"/>'
        html += '</div>'

        $(".middle-area-3-wrap").append(html);
    }
</script>
</head>
<body>

<section>
    <div class="menu-box">
        <div class="menu-title">
            <div class="menu-title-no" th:text="#{label.no}"></div>
            <div class="menu-title-name"  th:text="#{label.menu.name}"></div>
            <div class="menu-title-status"  th:text="#{label.sale.status}"></div>
            <div class="menu-title-category"  th:text="#{label.category}"></div>
            <div class="menu-title-stock"  th:text="#{label.sale.able.stock}"></div>
            <div class="menu-title-price"  th:text="#{label.price}"></div>
        </div>
        <div class="menu-content" th:each="menu : ${menuList}">
            <input type="hidden" name="menu-no" th:value="${menu.menuNo}">
            <div class="menu-no" th:text="${menu.no}"></div>
            <div class="menu-name" th:text="${menu.menuName}"></div>
            <div class="menu-status" th:text="${menu.saleStatus}"></div>
            <div class="menu-category" th:text="${menu.categoryName}"></div>
            <div class="menu-stock" th:text="${menu.stock}"></div>
            <div class="menu-price" th:text="${#numbers.formatInteger(menu.salePrice, 0, 'COMMA')}"></div>
        </div>
    </div>

    <div class="menu-button-wrap">
        <button type="button" class="menu-button-1" th:text="#{button.add}" onclick="addMenuPopup();"></button>
        <button type="button" class="menu-button-2" th:text="#{button.modify}" onclick="modifyCategoryPopup();"></button>
    </div>
</section>

</body>
</html>