<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragment/header :: common_header(~{::link}, ~{::script})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}">
    <script th:inline="javascript">

        $(function() {
            let key = getCookie("idChk");
            if(key != ""){
                $("#userId").val(key);
            }

            if($("#userId").val() != ""){
                $("#idSaveCheck").attr("checked", true);
            }

            $("#idSaveCheck").change(function(){
                if($("#idSaveCheck").is(":checked")){
                    setCookie("idChk", $("#userId").val(), 7);
                }else{
                    deleteCookie("idChk");
                }
            });

            $("#userId").keyup(function(){
                if($("#idSaveCheck").is(":checked")){
                    setCookie("idChk", $("#userId").val(), 7);
                }
            });
        })

        function setCookie(cookieName, value, exdays){
            let exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
            document.cookie = cookieName + "=" + cookieValue;
        }

        function deleteCookie(cookieName){
            let expireDate = new Date();
            expireDate.setDate(expireDate.getDate() - 1);
            document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
        }

        function getCookie(cookieName) {
            cookieName = cookieName + '=';
            let cookieData = document.cookie;
            let start = cookieData.indexOf(cookieName);
            let cookieValue = '';
            if(start != -1){
                start += cookieName.length;
                var end = cookieData.indexOf(';', start);
                if(end == -1)end = cookieData.length;
                cookieValue = cookieData.substring(start, end);
            }
            return unescape(cookieValue);
        }

    </script>
</head>
<body>

    <form action="/login" th:object="${userDTO}" method="post">
        <div class="login-box">
            <div class="login-system-title" th:text="#{title.force}"></div>
            <div class="login-system-subtitle" th:text="#{title.sub.force}"></div>
            <div class="login-insert">
                <img class="login-image-1" src="/images/login/person.png" alt="person.png"/>
                <label>
                    <input type="text"
                           th:field="*{userId}"
                           class="login-input">
                </label>
            </div>
            <div class="field-error" th:errors="*{userId}" />
            <div class="login-insert">
                <img class="login-image-2" src="/images/login/lock.png" alt="lock.png"/>
                <label>
                    <input type="password"
                           th:field="*{password}"
                           class="login-password-input">
                </label>
            </div>
            <div class="field-error" th:errors="*{password}" />
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error-global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
            </div>
            <div class="login-save-find">
                <label class="login-save-wrap">
                    <input type="checkbox" id="idSaveCheck">
                    <p th:text="#{label.id.save}"></p>
                </label>
            </div>
            <a href="" class="login-id-find" th:text="#{label.id.find}"></a>
            <a href="" class="login-password-find" th:text="#{label.password.find}"></a>
            <div class="login-button-wrap">
                <button type="submit" class="login-button" th:text="#{button.login}"></button>
            </div>
        </div>
    </form>

</body>
</html>