<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Force</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}">
<script th:src="@{/js/login/login.js}"></script>
</head>
<body>

    <form th:action th:object="${loginForm}" method="post">
        <div class="whole-backGround">
            <div class="gap"></div>
            <div class="login-box">
                <div class="login-system-title">포스 있다</div>
                <div class="login-system-subtitle">POS Solution</div>
                <div class="login-insert">
                    <img class="login-image" src="/images/login/person.png" alt="person.png"/>
                    <label class="login-id-password">
                        <input type="text" th:field="*{userId}" class="login-input">
                    </label>
                </div>
                <div class="login-insert">
                    <img class="login-image" src="/images/login/lock.png" alt="lock.png"/>
                    <label class="login-id-password">
                        <input type="text" th:field="*{password}" class="login-password-input">
                    </label>
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                </div>
                <div class="login-save-find">
                    <label>
                        <input type="checkbox" class="login-checkbox">
                    </label>
                    <p class="login-save">아이디 저장</p>
                    <a href="" class="login-id-find">아이디 찾기</a>
                </div>
                <a href="" class="login-password-find">비밀번호 찾기</a>
                <div class="login-button-wrap">
                    <button type="submit" class="login-button">로그인</button>
                </div>
            </div>
            <div class="gap"></div>
        </div>
    </form>

</body>
</html>