html {
    height: 100%;
    font-size: 100%;
}

body {
    width: 99%;
    height: 100%;
}

.section {
    width: 89.5%;
    height: 100%;
}

@media (max-width: 2000px) {
    html { font-size: 125%; }
}

@media (max-width: 1600px) {
    html { font-size: 100%; }
}

@media (max-width: 1200px) {
    html { font-size: 75%; }
}

@media (max-width: 800px) {
    html { font-size: 50%; }
}

@media (max-width: 400px) {
    html { font-size: 25%; }
}

.line {
    display: flex;
    height: 25%;
}

.first-line {
    position: relative;
    margin-left: 8.5%;
    margin-top: 1.5%;
    width: 17.5%;
    height: 70%;
    background-color: white;
    cursor:pointer;
    border-radius: 5px;
}

.second-line {
    position: relative;
    margin-left: 8.5%;
    margin-top: 3%;
    width: 17.5%;
    height: 70%;
    background-color: white;
    cursor:pointer;
    border-radius: 5px;
}

.third-line {
    position: relative;
    margin-left: 8.5%;
    margin-top: 4.5%;
    width: 17.5%;
    height: 70%;
    background-color: white;
    cursor:pointer;
    border-radius: 5px;
}

.line-button {
    margin-left: 1%;
    margin-top: 1.5%;
    width: 5%;
    background-color: #5DA4EF;
    font-weight: bold;
    font-size: 110%;
    font-family: fantasy;
    color: white;
    cursor:pointer;
    border-color: grey;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 40%;
}

.table-number {
    margin-left: 3%;
    margin-top: 3%;
    font-weight: bold;
    pointer-events : none;
}

.table-content {
    display: flex;
    justify-content: space-between;
    pointer-events : none;
}

.table-menu {
    margin-left: 3%;
    margin-top: 1.5%;
    font-size: 0.8rem;
    pointer-events : none;
}

.table-quantity {
    margin-right: 3%;
    margin-top: 1.5%;
    font-size: 0.8rem;
    pointer-events : none;
}

.table-price {
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events : none;
}

.dot {
    margin-top: 1.5%;
    margin-left : 3%;
    pointer-events : none;
}

.menu-color {
    background-color: #8AD2F9;
}

.modal {
    height: 35%;
}

.top-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    height: 10%;
}

.table-modal-text {
    font-size: 1.2rem;
}

.middle-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    height: 30%;
}

.middle-area-select {
    width: 30%;
    height: 80%;
}

.bottom-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    height: 100%;
}

.bottom-button {
    width: 30%;
    height: 20%;
    background-color: #5DA4EF;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor:pointer;
}

.field-error-1 {
    color: red;
    text-align: center;
}
