.table-number {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-family: fantasy;
}

.table-content {
    display: flex;
    justify-content: space-between;
}

.table-menu {
    margin-left: 10px;
    margin-top: 5px;
}

.table-quantity {
    margin-right: 10px;
    margin-top: 5px;
}

.table-price {
    margin-right: 10px;
    float: right;
}