.whole-backGround {
    width: 100%;
    height: 100%;
    background-color: #A3B1E7;
}

.gap {
    width: 100%;
    height: 97px;
    background-color: #A3B1E7;
}

.box {
    margin-left: 700px;
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
}

.title-box {
    width: 100%;
    height: 70px;
    background-color:#5F6FB8;
    border-radius: 5px;
}

.title {
    margin-left: 35px;
    padding-top: 13px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.sub-title {
    margin-left: 35px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.sub-content {
    margin-left: 23px;
    font-size: 20px;
}

.input-box {
    margin-left: 15px;
    width: 206px;
    height: 30px;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 20px;
    border-color: #C2C2C2;
    margin-top: 15px;
}

.input-box-2 {
    margin-left: 43px;
    width: 206px;
    height: 30px;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 20px;
    border-color: #C2C2C2;
    margin-top: 15px;
}

.input-box-3 {
    margin-left: 15px;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 20px;
    border-color: #C2C2C2;
    margin-top: 15px;
}

.input-box-4 {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color:#F2EDFF;
    font-size: 20px;
    border-color: #C2C2C2;
    margin-top: 15px;
}

.submit-button {
    border-radius: 10px;
    cursor:pointer;
    background-color: #5DA4EF;
    color: white;
    width: 130px;
    height: 40px;
    font-size: 25px;
    border-color: white;
}

.button-button {
    margin-left: 10px;
    border-radius: 10px;
    cursor:pointer;
    background-color: #5DA4EF;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 25px;
    border-color: white;
}

.button-wrap {
    display: flex;
    margin-left: 205px;
}